
<div class="form-group promo-code {{class}} col-12 col-md-9 px-0 mb-0" [formGroup]="promoForm">
  <label for="promoCode">Referral/Promo Code:</label>
  <input class="form-control" formControlName="promoCode" type="{{type}}" [readonly]="isReadOnly" id="promoCode" name="promoCode"  [ngClass]="{ 'is-invalid': (shortFormSubmitted || checkPromoCode || f.promoCode.dirty || f.promoCode.touched) && f.promoCode.errors, 'is-valid': !f.promoCode.errors }" #promoCodeInput/> 

  <div *ngIf="(shortFormSubmitted || checkPromoCode || f.promoCode.dirty || f.promoCode.touched) && f.promoCode.errors" class="invalid-feedback">
    <div *ngIf="f.promoCode.errors.required">Please enter referral/promo code.</div>
  </div>

</div>
  

