<a data-toggle="modal" data-target="#contactus" class="button-float">
   <i class="fa fa-envelope my-float"></i>
   </a>
   <!-- Modal -->
   <div class="modal fade" id="contactus" tabindex="-1" role="dialog" aria-labelledby="contactus" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="contactus">Feedback for ViewQwest Online Signup Portal</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <div class="optionContentText2" style="display:none;">
                  To Re-contract kindly fill in your details in the fields below and a member of our staff will contact you for a more personalised signup experience.
               </div>
               <div class="contactWrapper">
                  <div id="contactContentWrapper">
                     <div id="contactForm" class="clearfix">
                        <form ngNoForm name="web-to-lead" role="form" id="feedbackFormGeneric" action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
                           <input type=hidden name="oid" value="00D90000000dJa4">
                           <input type=hidden name="retURL" value="https://viewqwest.com/thank-you">
                           <div class="formFieldWrapper">
                              <div class="formField form-group">
                                 <label class="textLabel" for="firstName">First Name:</label><br>
                                 <input class="inputText inputTextNormal form-control" type="text" id="first_name" name="first_name" required  oninvalid="setCustomValidity(' ')"/>
                                 <div class="requirements">
                                    First name required.
                                 </div>
                              </div>
                              <div class="formField form-group">
                                 <label class="textLabel" for="lastName">Last Name:</label><br>
                                 <input class="inputText inputTextNormal form-control" type="text" id="last_name" name="last_name" required  oninvalid="setCustomValidity(' ')"/>
                                 <div class="requirements">
                                    Last name required.
                                 </div>
                              </div>
                              <div class="formField form-group">
                                 <label class="textLabel" for="email">Email:</label>
                                 <input class="inputText form-control" type="email" name="email" id="email" required  oninvalid="setCustomValidity(' ')"/>
                                 <div class="requirements">
                                    Must be a valid email address.
                                 </div>
                              </div>
                              <div class="formField form-group">
                                 <label class="textLabel" for="phone">Phone: <span>(Optional)</span></label><br>
                                 <input class="inputText form-control" type="tel" name="phone" id="phone" minlength="8" maxlength="8" pattern="[0-9.]+"  oninvalid="setCustomValidity(' ')"/>
                              </div>
                              <div class="formField contactTextarea form-group">
                                 <label class="textLabel" for="message">Message: <span>(Optional)</span></label><br>
                                 <textarea rows="6" cols="39" class="textarea  form-control" type="text" name="description" id="description"></textarea>
                              </div>
                              <div class="formFieldSubmit">
                                 <input class="btn btn-danger py-1 px-5" type="submit" name="submit"> 
                              </div>
                           </div>
                           <!-- form-field-wrapper div end -->
                           <input type="hidden" id="00N6F00000XHnpC" name="00N6F00000XHnpC" value="VQPL">
                           <input type="hidden" id="00N9000000E4U94" name="00N9000000E4U94" value="Digital">
                           <input type="hidden" id="00N9000000EVwmu" name="00N9000000EVwmu" value="Non-ViewQwest Subscriber"> 
                           <input type="hidden" id="00N9000000E4U8L" name="00N9000000E4U8L" value="Signup Portal Feedback">  
                           <input type="hidden" id="rating" name="rating" value="Hot"> 
                           <input type="hidden" id="00N6F00000ETLJy" name="00N6F00000ETLJy" value="Singapore"> 
                           <input type="hidden" id="recordType" name="recordType" value="01290000000muHR"> 
                           <input type="hidden" id="00N90000007BNeq" name="00N90000007BNeq" value="Feedback for ViewQwest Online Signup Portal"> 
                           <!-- UTM FIELDS BEGIN -->
                        <input id="UTM_Source__c" name="UTM_Source__c" type="hidden" value="{{utmSource}}"/>
                        <input id="UTM_Medium__c" name="UTM_Medium__c" type="hidden" value="{{utmMedium}}"/>
                        <input id="UTM_Campaign__c" name="UTM_Campaign__c" type="hidden" value="{{utmCampaign}}"/>
                        <input id="UTM_Term__c" name="UTM_Term__c" type="hidden" value="{{utmTerms}}"/>
                        <input id="UTM_Content__c" name="UTM_Content__c" type="hidden" value="{{utmContent}}"/>
                        <!-- UTM FIELDS END -->
                        </form>
                     </div>
                     <!-- contact-form div end -->
                  </div>
                  <!-- contact-content-wrapper div end -->
               </div>
               <!-- contact-wrapper div end -->
            </div>
            <!-- <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-primary">Save changes</button> 
               </div>-->
         </div>
      </div>
   </div>