<div class="row mx-0" [formGroup]="remarksForm">
    <div class="col px-0">
      <label class="vas-label d-block mb-0">Remarks</label>
      <textarea name="remarks" id="remarks" cols="30" rows="2" class="form-control vas-option" formControlName="remarks"></textarea>
    </div>
  </div>
  