<div class="container-fluid home-accordion px-0">
    <div id="homepage" class="container">
        <div id="planAccordion" class="row mx-0">
            <div class="col-sm-12 p-0">
                <div id="meshPlans">
                    <div class="card-body p-0">
                        <div id="planIndicatorMesh" class="carousel slide" data-ride="carousel" data-interval="false">
                            <!--Ultra Plans-->

                            <ng-container *ngIf="isFreedom">
                                <div class="carousel-inner row mx-0 freedom-plan">
                                    <!--One Gbps Orbi Mesh-->
                                    <div class="carousel-item col-lg-3 active">
                                        <!--<app-vqsb-plan-gbps12 [planValue]='plansData[0]'></app-vqsb-plan-gbps12>-->
                                        <app-vqsb-plan-mbps24 [planValue]='plansData[0]'></app-vqsb-plan-mbps24>
                                       
                                    </div>
                                    <!--End of One Gbps Orbi Mesh-->
                                    <!--One Gbps Orbi Smart Mesh-->
                                    <div class="carousel-item col-lg-3">
                                        <!--<app-plan-orbi-smart-mesh  [planValue]='plansData[1]'></app-plan-orbi-smart-mesh>-->
                                        <app-vqsb-plan-mbps12 [planValue]='plansData[1]'></app-vqsb-plan-mbps12>
                                       

                                    </div>
                                    <!--End of One Gbps Orbi Smart Mesh-->
                                    <!--One Gbps Asus Mesh-->
                                    <div class="carousel-item col-lg-3" [class.active]="id == 3">
                                        <!--<app-plan-asus-mesh [planValue]='plansData[2]'></app-plan-asus-mesh>-->
                                        <app-vqsb-plan-gbps24 [planValue]='plansData[2]'></app-vqsb-plan-gbps24>

                                    </div>
                                    <!--End of One Gbps Asus Mesh-->

                                    <div class="carousel-item col-lg-3" [class.active]="id == 3">
                                        <!--<app-plan-asus-mesh [planValue]='plansData[2]'></app-plan-asus-mesh>-->
                                        <app-vqsb-plan-gbps12 [planValue]='plansData[3]'></app-vqsb-plan-gbps12>
                                    </div>

                                    <!--One Gbps Lyra Mesh-->
                                    <!-- <div class="carousel-item" [class.active]="id == 4">
                                <app-plan-lyra-mesh></app-plan-lyra-mesh>
                            </div>  -->
                                    <!--End of One Gbps Lyra Mesh-->

                                </div>

                            </ng-container>


                        </div>

                        <a class="carousel-control-prev" href="#planIndicatorMesh" role="button" data-slide="prev" *ngIf="isFreedom">
                            <span class="carousel-control-prev-icon d-flex align-items-center" aria-hidden="true"><img src="./../../../../assets/img/prev-icon_2.png" alt="Previous" class="img-fluid mx-auto"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#planIndicatorMesh" role="button" data-slide="next" *ngIf="isFreedom">
                            <span class="carousel-control-next-icon d-flex align-items-center" aria-hidden="true"><img src="./../../../../assets/img/next-icon_2.png" alt="Next" class="img-fluid mx-auto"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>

            </div>

        </div> 
    </div>
  </div>