<div class="callback-wrapper">
    <div class="callback-container">
    <div class="callback-image"><img src="../../../../assets//img/success.png" class="img-fluid w-25 mx-auto d-block py-4"></div>
        <div class="callback-message pb-3">
        Welcome onboard! You have successfully signed up for ViewQwest's Fiber Broadband Services. <br/>
            Our staff will be getting in touch with you within 3 working days to confirm your installation date & time.
        </div>
        <div class="callback-message operatingHours">
          <b>Operating Hours:</b> 9am-6pm (Mon to Sat) <br>
          <b>Phone:</b> (+65) 3102 0000 <br>
          <b>Fax:</b> (+65) 6491 1008 <br>
          <b>Email:</b> <a href="mailto:sales@viewqwest.com">sales@viewqwest.com</a>
        </div>
    </div>
</div>