<div class="plan-content">
   <div class="row d-flex justify-content-center pt-4 plan-title" data-slide-to="3" data-target="#planNav">
      <div class="col-12">
         <h2 class="pb-0">{{planValue?.name}}</h2>
         <h3 class="pb-2 w-75 mx-auto my-0">FREE ASUS AiMesh AX6100 <br> RT-AX92U (2 Nodes)</h3>
         <span class="more px-3 py-1" (click)="checkPlan(content, true);">More details</span>  
      </div>
   </div>
   <div class="row img-container py-5">
      <div class="col-12">
         <img src="assets/img//routers/asus-mesh.png" class="img-fluid mx-auto d-block w-50">
      </div>
   </div>  
   <div class="row d-flex justify-content-center">
      <div class="col-6 col-sm-4 col-md-3 col-lg-6 carousel-nav py-2 px-0 mx-0" (click)="selectedPlan()"> 
         <span class="up-to">Up to</span>
         <span class="plan-speed d-block"><span class="plan-speed-number">{{planValue?.upToSpeed | slice:0:1}}</span>{{planValue?.upToSpeed | slice:1:5}}</span>
         <span class="plan-sub-title">Fibre Broadband</span>
         <span class="plan-free d-block w-75 mx-auto py-1">{{planValue?.special}}</span>
         <span class="up-to">Starts at</span>
         <span class="plan-price d-block pt-0">${{planValue?.price}}<sub>{{planValue?.shortTerm}}</sub></span> 
      </div>
  </div>
</div>
<div class="plan-footer">
   <div class="row pt-5 pb-2 justify-content-center">
         <div class="col-6 col-md-4 col-lg-6">
         <div class="form-group d-flex">
            <button class="btn btn-primary py-0 px-4 select-button w-100" (click)="selectedPlan()">Select</button>
         </div>
      </div>
   </div>
</div>
<ng-template #content let-modal>
      <div class="container">
        <div class="modal-header row pb-0">
          <h4 class="plan-title d-block w-100 text-center">{{planValue?.name}}</h4>
          <h2 class="plan-speed d-block w-100 text-center mb-0 mt-2">{{planValue?.speed }}</h2>
          <div class="row mx-0 w-100 text-center">
            <div class="col-12">
              <span class="plan-price pl-5">${{planValue?.price}}</span>
              <span class="plan-term pl-1">{{planValue?.shortTerm}} <br> {{planValue?.contract}}</span>
            </div>
          </div>
          <h5 class="plan-special mx-auto py-1 px-3 mt-2">{{planValue?.special}}</h5> 
        </div>
        <div class="modal-body pt-2 pb-0 px-0">
          <ul class="freebies p-0 mb-0">
            <li *ngFor="let freebies of planValue?.freebies; let i=index" class="py-1 freebies-list freebies-{{i}}">
              <div class="d-inline-block w-90">{{freebies.label}}</div>
              <div class="d-inline-block float-right price-modal">{{freebies.price}}</div>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn mx-auto py-0 mt-3 px-5" data-dismiss="modal" (click)="closePlan()">Close</button>
        </div>
      </div>
    </ng-template>