<div class="container sub-header">
    <div class="row pt-3 pb-2">
      <div class="col-12">
          <h1>Great! Tell us more about you. </h1>
          <p class="pt-1">As part of the signup. We would like to ask some information to proceed with your registration. All information provided will be kept confidential.</p>
      </div>
    </div>
  </div>
  <div id="short-form" class="container pt-1">
    <!-- Start of basic customer details -->
    <div class="row">
      <div class="col-12"> 
          <form [formGroup]="shortForm" novalidate>
              <app-form-basic (formReady)="formInitialized('basic', $event)" [info]="customerInfo" [shortFormSubmitted]="shortFormSubmitted"></app-form-basic>
              <div class="form-group pt-3 d-flex justify-content-end col-md-12 pr-0">
                  <button class="btn btn-danger py-1 px-5" (click)="nextButton()">Next</button>
              </div>
          </form>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col">
        <p>By clicking “Next”, you give your consent for ViewQwest to contact you with regards to our services. You can find our policy <a href="https://viewqwest.com/data-protection" target="_blank">here</a>.</p>
      </div>
    </div>
    <!-- End of basic customer details -->
</div>