<!-- Start of basic customer details -->
<div class="container-fluid sub-header">
    <div class="container pt-3 pb-2">
        <div class="row">
          <div class="col-12">
              <h1>Billing Details</h1>
          </div>
        </div>
    </div>
  </div>
  
  <div id="payment-page" class="container" >
    <div class="row">
        <div class="col-12">
            <p>Please fill in your card information below. You will be charged RM1 by the payment system for card testing - this will automatically be refunded back to you. You will only be charged for your first bill once your service is installed and activated, and the charging will be automated on a monthly basis once your bill has been generated. Upon clicking submit on this form, please allow up to 1 minute for information to be processed securely. DO NOT REFRESH THE PAGE.</p>

            <app-user-credit-card></app-user-credit-card>
            <div class="row">
                <div class="col-12">
                    <form [formGroup]="paymentForm" novalidate>
                        <!--<app-form-basic (formReady)="formInitialized('basic', $event)" [info]="customerInfo" [shortFormSubmitted]="shortFormSubmitted"></app-form-basic>-->
                        <div class="form-group pt-3 d-flex justify-content-end col-md-12 pr-0">
                            <button class="btn btn-danger py-1 px-5" (click)="nextButton()">Next</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- End of basic customer details -->