
<div [formGroup]="vasForm">



  <p class="step mb-0 mt-3">Step 3</p>
  <p class="step-subtitle mb-2">Let’s do more with your plan by adding some value added services.</p>
  <p class="steps-title mb-1">Value Added Service:</p>

  <div class="row mx-0 pt-0">
    <div class="col-12 col-lg-6 px-0 pr-lg-2">
      <label class="vas-label d-block mb-0">OneVoice<sup>&trade;</sup></label>
      <span *ngIf="upgrade == true" class="free-ov">Free 24 months + $50 OTC waived – Optional at $3.95/mth thereafter</span>
      <select *ngIf="upgrade != true" class="form-control vas-option" name="ov" id="ov" formControlName="oneVoice">
        <option [value]="ov.key" *ngFor="let ov of onevoice" [disabled]="ov.label=='Choose one'" [selected]="ov.label=='Choose one'">{{ov.label}}</option>
      </select>

    </div>

    <div *ngIf="((f.oneVoice.dirty || f.oneVoice.touched) && f.oneVoice.value != 50) ||  f.oneVoice.value == 98"  class="col-12 col-lg-6 px-0 pt-3 pt-lg-0 pl-lg-2">
      <label class="vas-label d-block mb-0">OneVoice<sup>&trade;</sup> Number non-display</label>
      <select class="form-control vas-option" name="ov_non" id="ov_non" formControlName="ovNonDisplay">
          <option [value]="non.key" *ngFor="let non of nondisplay" [disabled]="non.label=='Choose one'" [selected]="non.label=='Choose one'">{{non.label}}</option>
      </select>
    </div>
  </div>

  <div class="row mx-0 pt-3">
    <div class="col-12 col-lg-6 px-0 pr-lg-2">
      <label class="vas-label d-block mb-0">Fibre-Guard</label>
      <select class="form-control vas-option" name="fbg" id="fbg" formControlName="fibreGuard">
          <option [value]="fb.key" *ngFor="let fb of fibreguard" [disabled]="fb.label=='Choose one'" [selected]="fb.label=='Choose one'">{{fb.label}}</option>
      </select>
    </div>
    <div class="col-12 col-lg-6 px-0 pt-3 pt-lg-0 pl-lg-2">
      <label class="vas-label d-block mb-0">On-site Installation</label>
      <select class="form-control vas-option" name="siteInstallation" id="siteInstallation" formControlName="siteInstallation">
          <option [value]="site.key" *ngFor="let site of installation" [disabled]="site.label=='Choose one'" [selected]="site.label=='Choose one'">{{site.label}}</option>
      </select>
    </div>
  </div>

  <div class="row mx-0 pt-3">
    <div class="col-12 col-lg-6 px-0 pr-lg-2">
      <label class="vas-label d-block mb-0">Do you want to get an additional special deal?</label>
      <select class="form-control vas-option" name="add-on-hardware" id="add-on-hardware" formControlName="addOnHardware">
        <option [value]="add.key" *ngFor="let add of addon" [disabled]="add.label=='Choose one'" [selected]="add.label=='Choose one'" >{{add.label}}</option>
      </select>
    </div> 
    <div class="col-12 col-lg-6 px-0 pt-3 pt-lg-0 pl-lg-2"> 
        <label class="vas-label d-block mb-0">Will you like to access Netflix (US) via Freedom DNS?</label>
        <select class="form-control vas-option" name="netflix" id="netflix" formControlName="netflix">
            <option [value]="nf.label" *ngFor="let nf of fdns" [selected]="nf.label=='Singapore'">{{nf.label}}</option>
        </select>
      </div>
  </div> 
</div>