
<div class="container-fluid sub-header">
    <div class="container pt-3 pb-2">
        <div class="row mx-0">
          <div class="col px-0">
              <h1>Confirmation of Details</h1>
          </div>
        </div>
    </div>
  </div>
  <div id="long-form" class="container pt-1">
  
    <!-- Start of ustomer details -->
    <div class="row">
      <div class="col-sm">
        <form [formGroup]="longForm" novalidate>

          <app-form-basic (formReady)="formInitialized('basic', $event)" [isLongForm]=true  [info]="customerInfo" [longFormSubmitted]="longFormSubmitted"></app-form-basic>

          <div class="form-group pt-3 d-flex justify-content-end col-sm-12  pr-0">
              <button class="btn btn-danger py-1 px-5" (click)="nextButton()">Next</button>
          </div>
        </form>
      </div>
    </div>

    <!-- <h2 class='mat-h2'>Form Value</h2>
    <pre>
      {{longForm.value | json}}
    </pre> -->
    <!-- End of customer details -->
</div>