<!-- Start of basic customer details -->
<div class="container-fluid sub-header">
    <div class="container pt-3 pb-2">
        <div class="row">
          <div class="col-12">
              <h1>Summary of Details</h1>
          </div>
        </div>
    </div>
  </div>
  
  
  <div id="summary-page" class="container pt-1">
    <div class="row mx-0">
      <div class="col-md-6 user-summary px-0">
        <app-user-summary [previewInfo]="customerDetails"></app-user-summary>
      </div>
      <div class="col-md-6 pt-2 mt-4 plan-summary">
        <app-total-summary [previewInfo]="planDetails"></app-total-summary>
      </div>
    </div>
    <div class="row pt-3 pt-md-5 mx-0">
      <div class="col-sm-12 preview-bottom px-0">
          <p>ViewQwest will only process the first payment upon successful service activation of your line. <br>
            Upon service activation, we will bill within 3 working days for the relevant subscription and one-time fees (if applicable).</p>
          <div class="form-check" [formGroup]="previewForm" novalidate>
            <input type="checkbox" class="form-check-input" id="tnc" formControlName="tnc">
            <label class="form-check-label" for="tnc"> I have read and accept these <a href="https://viewqwest.com/wp-content/uploads/2019/05/ViewQwest_PC_Show_2019_Residential_Broadband_Registration_Terms_and_Conditions.pdf" target="_blank">Terms & Conditions</a>, and hereby do consent to be charged by ViewQwest Pte Ltd for services requested.</label>
          </div>
      </div>
      <div class="form-group col-sm-12 pr-0 pt-3">
          <button class="btn btn-danger py-1 px-5 float-right" (click)="nextButton()">Proceed to payment</button>
      </div>
    </div>
    <div class="row pt-3">
        
    </div>
      </div>
  <!-- End of basic customer details -->