#routerOption1{
height: auto;
}
@charset "utf-8";
/* CSS Document */

/** css-mobile- Media Query for iPhone Landscape Mode **/
@media only screen and (min-width: 321px) and (max-width: 480px) {
	
#signup-flow{
	display: none;
}	
body{
	margin: 0px;
	padding: 0px;
	background: #111;
	font-family: 'open_sansregular';
}
.top-border{
	width: 100%;
	height: 10px;
	background: #f15757;
}

.headerWrapper{
	padding: 0px 30px 0px 30px;
}
.signupWrapper{
	margin: auto;
	margin-top: -9px;
	background: #2D2D2D;
	text-align: center;
	padding: 20px 30px 0px 30px;
}
.feasibilityWrapper{
	margin: auto;
	margin-top: -9px;
	background: #2D2D2D;
	padding: 10px 30px 30px 30px;
}
.planDetailsWrapper{
	margin: auto;
	margin-top: -9px;
	background: #2D2D2D;
	padding: 10px 20px 30px 20px;
}
.preferredInstallationWrapper{
	margin: auto;
	margin-top: -9px;
	background: #2D2D2D;
	padding: 10px 20px 30px 20px;
}
.termsConditionsWrapper{
	margin: auto;
	margin-top: -9px;
	padding: 10px 10px 30px 10px;
}
.previewWrapper{
	margin: auto;
	margin-top: -9px;
	background: #2D2D2D;
	padding: 10px 10px 30px 10px;
}
.vq-logo{
	width: 100%;
	margin: 20px 0px 15px 0px;
	text-align: center;
}
.pageHeader{
	font-family: 'open_sansregular';
	font-size: 18px;
	color: #dcdcdc;
	line-height: normal;
	margin-top: 25px;
	text-align: center;
}
#top-hr{
	margin-bottom: 40px;
}
h1{
	font-family: 'open_sansregular';
	font-size: 20px;
	color: #FFF;
	line-height: normal;
}
h2{
	font-family: 'open_sansregular';
	font-size: 25px;
	color: #FFF;
	line-height: normal;
}
h3{
	font-family: 'open_sansregular';
	font-size: 20px;
	color: #FFF;
	line-height: normal;
}
h4{
	font-family: 'open_sansregular';
	font-size: 16px;
	color: #FFF;
	line-height: normal;
}
button, input[type="button"]{
	background: #F15757;
	padding: 10px 20px 10px 20px;
	border: none;
	font-family: 'open_sansregular';
	font-size: 15px;
	color: #FFF;
	cursor: pointer;
	-webkit-appearance: none;
    -webkit-box-shadow: 0px 0px 0px;
    -webkit-border-radius: 0px;
}
button, input[type="button"]:hover{
	background: #f17575;
}
submit, input[type="submit"]{
	background: #F15757;
	padding: 10px 20px 10px 20px;
	border: none;
	font-family: 'open_sansregular';
	font-size: 15px;
	color: #FFF;
	cursor: pointer;
}
submit, input[type="submit"]:hover{
	background: #f17575;
}
input[type="text"]{
	font-family: 'open_sansregular';
	font-size: 14px;
	padding: 10px;
}
select{
	font-family: 'open_sansregular';
	font-size: 14px;
	padding: 10px;
	width: 99.8%;
	-webkit-appearance: none;
	background: #FFF;
	background-image: url(../images/caret--down-15.png);
	background-repeat: no-repeat;
	background-position: right;
}
.index-h4, .feasibility-check-h4, .registration-h4, .plan-details-h4{
	color: #bbbdbe;
}
.landed-checkbox{
	margin-top: 10px;
}
.plan-details-h4{
	font-size: 22px;
}
.plan-details-text-wrapper{
	margin-top: -20px;
}


/*progressbar*/
.signupFlow{
	margin-top: 40px;
	text-align: center;
	margin-left: -80px;
}
#progressbar {
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 65px;
	display: inline-block;
	vertical-align: top;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: #FFF;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 4px;
	background: #FFF;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #F15757;
	color: white;

}
/*::-webkit-input-placeholder { color:#2C3E50; }
::-moz-placeholder { color:#2C3E50; }
:-ms-input-placeholder { color:#2C3E50; }
input:-moz-placeholder { color:#2C3E50; */


/** INDEX CSS **/
.indexButton{
	text-align: center;
}
.indexButtonOption{
	width: 150px;
	height: 150px;
	background: #f15757;
	display: inline-block;
	vertical-align: top;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	font-family: 'open_sansregular';
	font-size: 18px;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	margin: 0px 10px 20px 10px;
}
.indexButtonOptionText1{
	margin-top: 48px;
}
.indexButtonOptionText2{
	margin-top: 37px;
}
.optionContentText1{
	font-family: 'open_sansregular';
	font-size: 18px;
	font-weight: bold;
	color: #2f2f2f;
	text-align: justify;
}
.optionContentText2{
	font-family: 'open_sansregular';
	font-size: 15px;
	color: #2f2f2f;
	text-align: justify;
	margin-top: 20px;
}
#salesStaffName {
    width: 100%;
}
select#salesLocation {
    width: 100%;
}
.salesStaffField{
	width: 320px;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 20px;
}
.salesStaffFieldHeader{
	font-family: 'open_sansregular';
	font-size: 16px;
	color: #dcdcdc;
	text-align: justify;
	margin-bottom: 10px;
}
.salesLocationField{
	width: 320px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 20px;
}
.salesLocationFieldHeader{
	font-family: 'open_sansregular';
	font-size: 16px;
	color: #dcdcdc;
	text-align: justify;
	margin-bottom: 10px;
}
.promoterNameField{
	width: 300px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.promoterNameField input{
	width: 300px;
	margin-top: 10px;
	margin-left: -10px;
}
.promoterNameField label{
	font-family: 'open_sansregular';
	font-size: 16px;
	color: #dcdcdc;
	text-align: justify;
	margin-left: -10px;
}
.popupContactFormWrapper{
	width: 80% !important;
}


/** SIGNUP CSS **/
.signupPlanWrapper{
	width: 100%;
	margin: auto;
}
.planSelectWrapper{
	width: 100%;
	margin: auto;
	vertical-align: top;
	margin-bottom: 30px;
}
.planSelectDetailsWrapper{
	width: 100%;
	background: #e1e1e1;
	-moz-border-radius: 0px 0px 4px 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
	padding-bottom: 15px;
}
.planSelectDetailsContents{
	text-align: center;
}
.planSelectDivider{
	background: #cecece;
	height: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.planSelectPriceWrapper{
	background: #cecece;
	padding: 10px 0px;
}
.planSelectPrice{
	font-family: 'open_sansbold';
	font-size: 25px;
	color: #252525;
	text-align: center;
}
.planSelectPrice2{
	font-size: 20px;
}
.planSelectPricePerMonth{
	font-size: 16px;
}
.planSelectPricePerMonth2{
	font-size: 15px;
}
.planSelectIncludes{
	font-family: 'open_sansbold';
	font-size: 14x;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #252525;
}
.planSelectText{
	width: 90%;
	margin: auto;
	font-family: 'open_sansregular';
	font-size: 13px;
	color: #252525;
}
.planSelectionHeaderDivider{
	width: 100%;
	height: 1px;
	background: #484848;
	margin-bottom: 15px;
}
.planSelectHeaderWrapper{
	width: 100%;
	margin: auto;
}
.textLineBreak:after {
	content: '\a';
	white-space: pre;
}
#signup-buttons{
	margin-top: 40px;
}
.signupButton{
	width: auto !important;
	margin: auto;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	background: #F15757;
	cursor: pointer;
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f15757', endColorstr = '#b5583c');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f15757', endColorstr = '#b5583c')";
	background-image: -moz-linear-gradient(top, #f15757, #b5583c);
	background-image: -ms-linear-gradient(top, #f15757, #b5583c);
	background-image: -o-linear-gradient(top, #f15757, #b5583c);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#f15757), to(#b5583c));
	background-image: -webkit-linear-gradient(top, #f15757, #b5583c);
	background-image: linear-gradient(top, #f15757, #b5583c);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.planSelectionHeader {
	font-size: 18px;
 	color: #F15757;
 	font-weight: bold;
	margin-bottom: 10px;
}
.planSelectionHeader2Gbps{
	margin-top: 30px;
}

/** FEASIBILITY CHECK CSS **/
h1.feasibility-h1 {
    text-align: center;
    font-size: 25px;
}
.feasibility-wrapper{
	width: 830px;
	margin: auto;
}
.postal-input{
	margin: 0px 0px 10px 12px;
}
.unit-floor-input-wrapper{
	width: 100%;
}
.unit-number-input {
    margin-top: 10px;
    margin-left: 5px;
}
#checkbox-landed{
	margin: 30px 0px 0px 13px;
}
#checkbox-landed-text{
	font-size: 12px;
	margin-left: 8px;
}
#check-coverage-button{
	margin: 55px 0px 0px 13px;
}
#errorMsg{
	margin: 30px 0px 0px 0px; 
	font-size: 12px;
}
.feasibility-check-left-panel{
	vertical-align: top;
}
.feasibility-check-right-panel-wrapper{
	font-family: 'open_sansregular';
	font-size: 14px;
	color: #FFF;
	margin-top: 40px;
	overflow: auto;
}
.feasibility-check-right-panel{
	height: 140px;
	border: 1px solid #555252;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	padding: 20px;
	overflow: auto;
}
.results-wrapper{
	margin: 0px 0px 20px 10px;
}
.results-title{
	font-family: 'open_sansbold';
	font-size: 15px;
}
.results-text{
	font-family: 'open_sansregular';
	font-size: 15px;
	color: #bbbdbe;
}
.results-wrapper-type, .results-wrapper-block, .results-wrapper-unit, .results-wrapper-postal, .results-wrapper-status, .results-wrapper-charges{
	width: 45%;
	display: inline-block;
}
.results-wrapper-bname, .results-wrapper-street, results-wrapper-action{
	width: 100%;
}
.results-message{
	font-size: 12px;
	color: #F00;
	margin: 10px 0px 0px 0px;
}
.results-next-button{
	margin: 15px 0px 0px 10px;
	padding-left: 40px !important;
	padding-right: 40px !important;
}
.qMark{
	font-size: 12px;
	font-weight: bold;
	padding: 0px 6px 0px 6px;
	background: #f15757;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	margin-top: 1px;
	margin-left: 3px;
	display: inline-block;
	vertical-align: top;
}
.qMark a{
	text-decoration: none;
	color: #FFF;
}
.statusToolTip, .chargesToolTipLanded, .chargesToolTipHighRise, .chargesToolTipReconnect, .chargesToolTipNA{
	display: none;
	padding: 5px;
	font-size: 15px;
}


/** REGISTRATION CSS **/
.registration-wrapper{
	width: 900px;
	margin: auto;
}
h1.registration-h1 {
    text-align: center;
    font-size: 25px;
}
.registration-left-panel{
	vertical-align: top;
}
.registration-right-panel{
	vertical-align: top;
	margin-top: 19px;
}
.registration-input-type{
	width: 94.3%;
	margin-bottom: 10px;
}
.registration-select{
	margin-bottom: 10px;
}
.registration-gender-input{
	font-family: 'open_sansregular';
	font-size: 15px;
	color: #FFF;
	margin-top: 15px;
}
.registration-gender-input-header{
	width: 70px;
	display: inline-block;
}
.registration-input-radio{
	width: 90px;
	display: inline-block;
}
.registration-button{
	display: inline-block;
	margin-top: -20px;
}
.reg-button{
	width: 120px;
	margin-right: 10px;
}


/** PLAN DETAILS CSS **/
select#subscription {
    width: 100%;
}
#fiberGuard {
    width: 100%;
}
.fiberGuardNotes{
	width: 90%;
	margin: auto;
	margin-bottom: 30px;
	border: solid 1px #eeeeee;
	padding: 0px 15px 0px 15px;
}
.fiberGuardNotes p{
	font-family: 'open_sansregular';
	font-size: 13px;
	color: #eeeeee;
	text-align: left;
	line-height: normal;
}
h1.plan-details-h1 {
    text-align: center;
    font-size: 22px;
}
.plan-details-wrapper{
	width: 900px;
	margin: auto;
}
.planSubHeader{
	font-size: 22px;
	color: #FFF;
	margin-top: 50px;
}
.servicePlanHeader{
	margin-top: -25px;
}
.plan-details-text{
	font-family: 'open_sansregular';
	font-size: 15px;
	color: #bbbdbe;
	margin-bottom: 12px;
}
.plan-details-select{
	width: 41%;
}
.adminFeeSubHeader{
	font-size: 22px;
	color: #FFF;
	margin-top: 30px;
}
.adminFeeText{
	color: #bbbdbe;
	margin-top: -20px;
}
.ftp-admin-fee-wrapper{
	margin: 0px 0px 0px 0px;
}
.ftp-admin-fee{
	font-family: 'open_sansregular';
	font-size: 16px;
	color: #FFF;
}
.ftp-admin-fee-text{
	font-family: 'open_sansbold';
}
.ftp-admin-fee-price{
	margin-left: 10px;
}
.vasHeader{
	margin-top: 50px;
}
.value-added-container{
	margin-top: -10px;
}
.value-added-text{
	width: 80%;
	display: inline-block;
	font-family: 'open_sansregular';
	font-size: 15px;
	color: #FFF;
	margin-bottom: 12px;
	margin-left: 5px;
}
.value-added-text-footnote{
	font-family: 'open_sansregular';
	font-size: 12px;
	color: #888888;
	margin-bottom: 12px;
	margin-left: 5px;
}
.value-added-radio{
	width: 10%;
	display: inline-block;
	border-radius: 10px;
	vertical-align: top;
	float: right;
}
.value-added-h4{
	font-family: 'open_sansregular';
    font-size: 20px;
    color: #FFF;
    line-height: normal;
    background: #f15855;
    padding: 8px;
}
.plan-details-next-button{
	text-align: center;
}
.plan-details-next-button{
	margin-top: 10px;
}
.plan-details-button{
	width: 150px;
	margin-top: 40px;
}
.value-added-wrapper-static-ip{
	margin-top: 20px;
}

.valueAddedCheckbox, .valueAddedCheckbox2 {
	position: relative;
}
.valueAddedCheckbox label, .valueAddedCheckbox2 label {
	cursor: pointer;
	position: absolute;
	width: 18px;
	height: 18px;
	top: 0;
	left: 0;
	background: #eee;
	border:1px solid #ddd;
	border-radius: 4px;
}
.valueAddedCheckbox label:after, .valueAddedCheckbox2 label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 8px;
	height: 4px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.valueAddedCheckbox label:hover::after, .valueAddedCheckbox2 label:hover::after {
	opacity: 0.5;
}
.valueAddedCheckbox input[type=checkbox]:checked + label:after, .valueAddedCheckbox2 input[type=checkbox]:checked + label:after {
	opacity: 1;
}
.routerSelectWrapper {
    text-align: center;
}
.routerSelContainer,
.pwpSelContainer{
	width: 90%;
	display: inline-block;
	background: #8cc740;
	border:solid 0px #222121;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 20px;
	margin-left: 4px;
	margin-right: 4px;
	vertical-align: top;
}

.routerSelectNoRouter,
.pwpSelectNoRouter{
	width: 172px;
	margin: auto;
    overflow: hidden;
}
.promoSelected1, .promoSelected2, .promoSelected3, .routerSelected1, .routerSelected2, .routerSelected3, .routerSelected4, .routerSelected5, .routerSelected6, .routerSelected7, .routerSelected8, .pwpSelected1, .pwpSelected2, .pwpSelected3, .pwpSelected4 {
	background: #8cc740;
}
.routerSelectedNormal, 
.pwpSelectedNormal{
	width: 63%;
	margin: auto;
}
.promoHead1, .promoHead2, .promoHead3, .routerHead1, .routerHead2, .routerHead3, .routerHead4, .routerHead5, .routerHead6, .routerHead7, .routerHead8, .pwpHead1, .pwpHead2, .pwpHead3, .pwpHead4{
	font-size: 20px;
	color: #FFF;
	text-align: center;
	margin: 10px 0px 10px 0px;
}
.promoSelHead1:after, .promoSelHead2:after, .promoSelHead3:after, .routerSelHead1:after, .routerSelHead2:after, .routerSelHead3:after, .routerSelHead4:after, .routerSelHead5:after, .routerSelHead6:after, .routerSelHead7:after, .routerSelHead8:after, .pwpSelHead1:after, .pwpSelHead2:after, .pwpSelHead3:after, .pwpSelHead4:after{
	content: 'Selected';
	font-size: 20px;
	color: #FFF;
	text-align: center;
	padding: 15px 0px 15px 0px;
}
.routerSelImg,
.pwpSelImg{
	text-align: center;
	background: #FFF;
	padding: 15px 0px 20px 0px;
	cursor: pointer;
}
.routerSelImg img,
.pwpSelImg img{
	width: 63.3%;
	margin: auto;
}
.pwpSel4 {
	padding-bottom:12px;
}
#routerSelect1,
#pwpSelect1{
	width: 63%;
	margin: auto;
}
#routerSelect2,
#pwpSelect2{
	width: 63.3%;
	margin: auto;
}
#noRouter{
	padding: 59px 0px 59px 0px;
	margin: auto;
}

/** ROUTER PRICE **/
/*.routerPrice,
.pwpPrice{
	font-family: 'open_sansregular';
	font-weight: bold;
	font-size: 17px;
	color: #FFF !important;
	background: #222121;
	text-align: center;
	-moz-border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
	border-radius: 0px 0px 8px 8px;
	padding: 15px 0px 15px 0px;
}
.routerName,
.pwpName{
	background: #111111;
	font-size: 18px;
	font-family: 'open_sansregular';
	color: #808080;
	font-weight: bold;
	text-align: center;
	padding: 15px 0px 15px 0px;
}
.routerName2gbps,
.pwpName2gbps{
	background: #111111;
	font-size: 18px;
	font-family: 'open_sansregular';
	color: #808080;
	font-weight: bold;
	text-align: center;
	padding: 27px 0px 27px 0px;
}
.noRouterName,
.noPwpName{
	background: #FFF;
	font-size: 25px;
	font-weight: bold;
	color: #000;
	text-align: center;
	padding: 37px 30px 37px 30px;
	cursor: pointer;
}
.noRouterPrice,
.noPwpPrice{
	height: 31px;
}*/
#remarksField {
    width: 98%;
}


/** PREFERRED INSTALLATION DATE AND TIME **/
.dateInstallationFootnote{
	width: 100%;
	font-size: 15px;
	color: #FFF;
	text-align: justify;
	margin-top: 10px;
}
.vasInstallationWrapper{
	width: 100%;
	margin: auto;
	margin-top: 35px;
	text-align: center;
}
h1.preferredInstallation {
    text-align: center;
    font-size: 22px;
}
/*.ui-datepicker {
	width: 100% !important;
}
.ui-widget {
    margin: auto;
}
.ui-widget {
	font-size: 17px !important;
}
.ui-datepicker table {
	font-size: 17px !important;
}*/


/** PREVIEW CSS **/
.preview-left-panel{
	width: 100%;
	vertical-align: top;
}
.preview-entry-container{
	width: 100%;
	display: inline-block;
	font-family: 'open_sansregular';
	font-size: 15px;
	color: #FFF;
	margin-bottom: 25px;
	padding-left: 10px;
	vertical-align: top;
}
.preview-plan-details-wide{
	width: 90%;
	vertical-align: top;
}
.preview-plan-details{
	width: 90%;
	vertical-align: top;
}
.preview-vas{
	width: 100%;
}
.preview-entry-container-address{
	width: 90%;
}
.preview-text, .routerNamePreview{
	font-family: 'open_sansbold';
}
.preview-entry, .routerPricePreview, .routerPrice{
	color: #bbbdbe;
}
.preview-button{
	width: 150px;
	margin-top: 20px;
}
.preview-h3{
	font-family: 'open_sansregular';
    font-size: 20px;
    color: #FFF;
    line-height: normal;
    background: #f15855;
    padding: 8px;
}
.amountPayablePreview{
    font-family: 'open_sansregular';
	font-size: 15px;
	color: #FFF;
}
.amountPayablePreviewWrapper{
	margin-top: 10px;
	margin-bottom: 20px;
}
#processingFee{
	font-size: 15px;
}
.amountPayableSubHeader{
	font-size: 18px;
	color: #FFF;
}
.amountPayableTotal{
	display: inline-block;
    font-size: 16px;
    color: #FFF;
}
.terms-and-conditions-checkbox{
	width: 6%;
	display: inline-block;
	margin-right: 10px;
}
.terms-and-conditions-wrapper{
	margin-top: 30px;
}
.terms-and-conditons-text{
	width: 88%;
	display: inline-block;
	font-family: 'open_sansregular';
	font-size: 15px;
	color: #FFF;
	margin-bottom: 10px;
}
.terms-and-conditons-text a{
	color: #FFF;
}
.errorMessage{
	font-family: 'open_sansregular';
	font-size: 15px;
	margin-top: 5px;
	margin-left: 35px;
}
.termsNextButton {
    text-align: center;
}
#next{
	margin-top: 40px;
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 50px 20px 50px 20px;
  width: auto;
  max-width: 1100px;
  margin: 20px auto;
}
.preview-installation{
	width: 45%;
}
.uploadNRICwrapper{
	margin-top: 10px;
	margin-bottom: 10px;
}
.uploadNRICwrapperLeft{
	padding: 20px;
	border:solid 1px #d7dcde;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
.uploadNRICwrapperRight{
	padding: 20px;
	border:solid 1px #d7dcde;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	margin-top: 10px;
}
.uploadNRIClabel{
	font-family: 'open_sansbold';
	color: #d7dcde;
}
.uploadNRICButton{
	color: #FFF;
	font-size: 14px;
	margin-top: 10px;
	width: 100%;
}
#nricUploadErrorMsg{
	font-family: 'open_sansregular';
	font-size: 15px;
	margin-top: 5px;
	margin-left: 35px;
}
.amountPayableFootnote{
	font-size: 12px;
	color: #FFF;
	text-align: justify;
	margin-bottom: 40px;
	font-style: italic;
}



/** TERMS and CONDITIONS **/
.terms-wrapper{
	width: 100%; 
	font-size: 12px;
	line-height: 20px;
}
.termsWrapper{ 
	margin: auto;
	height: 300px;
	background: #FFF;
	overflow: scroll; 
} 
.liSpace{
	margin-top: 8px;
}
#terms-sup{
	font-size: 10px;
}



/** PAYMENT CSS **/

.popup{
    background-color: #2d2d2d !important;
}


/** CALLBACK CSS **/
.callback-wrapper{
	width: 100%;
	margin: auto;
}
.callback-container{
	text-align: center;
	padding: 0px 30px 0px 30px;
}
.callback-image{
	margin-top: 80px;
}
.callback-image img{
	width: 50%;
	margin: auto;
}
.callback-message{
	margin-top: 30px;
	font-family: 'open_sansbold';
	font-size: 20px;
	line-height: normal;
	color: #FFF;
}
.callback-message a{
	color: #FFF;
}
.operatingHours{
	font-size:18px;
	line-height: normal;
	color: #c5c5c5;
}
.operatingHours a{
	font-size:18px;
	line-height: normal;
	color: #c5c5c5;
	text-decoration: none;
}

/** INDEX CONTACT FORM **/
.contactWrapper{
	width: 100%;
	margin: auto;
	height: auto;
}
#contactContentWrapper{
	padding-top: 10px;
}
#contactContentHeader1{
	font-family: 'proxima_nova_rgregular';
	font-size: 20px;
	color: #000;
	line-height: normal;
}
#contactContentHeader2{
	font-family: 'proxima_nova_rgbold';
	font-size: 20px;
	color: #000;
	line-height: normal;
}

/** CONTACT FORM CSS START **/
#contactForm{
	width: 100%;
	height: auto;
	margin-top: 20px;
}
.formFieldWrapper{
	width: 100%;
	margin: auto;
	margin-top: 10px;
}
.formField{
	width: 100%;
	margin-top: 5px;
}
.contactLeftCol{
	width: 48%;
	display: inline-block;
}
.contactRightCol{
	width: 48%;
	display: inline-block;
}
.textLabel{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
}
.inputText{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	width: 92%;
	height: 40px;
	margin-top: 5px;
	margin-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
}
.inputTextNormal{
	height: 20px;
}
.contactTextarea{
	width: 98%;
	margin-top: 10px;
}
.textarea{
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	margin-top: 5px;
	margin-bottom: 7px;
}
.formFieldSubmit{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;

}
.contactFormSubmitButton{
	width: 150px;
	height: auto;
	background: #f15757;
	border: none;
	text-align: center;
}
/** CONTACT FORM CSS END **/

	@media only screen and (min-width: 400px) and (max-width: 480px) {
	/*.ui-datepicker {
		width: 98% !important;
	}*/
	select#installationTimeSlot {
		 width: 48.5%;
	}
	.installationDateInput{
		height: 19px;
		vertical-align: top;
		font-size: 14px;
		padding: 11px 10px 10px 10px;
		width: 43.2%;
	}
	}
	@media only screen and (min-width: 321px) and (max-width: 399px) {
	.registration-input-type{
		width: 92%;
	}
	select#installationTimeSlot {
		 width: 244px;
	}
	.installationDateInput{
		height: 19px;
		vertical-align: top;
		font-size: 14px;
		padding: 11px 10px 10px 10px;
		width: 220px;
	}
	}

/** FEEDBACK FORM **/
.feedbackFormWrapper{
	width: 90%;
	margin: auto;
	margin-top: 100px;
	text-align: center;
}
.feedbackFormDivider{
	width: 100%;
	margin: auto;
	border-top: solid 1px #3e3e3e;
	margin-bottom: 15px;
}
.feedbackFormText{
	font-family: 'open_sansregular';
	font-size: 14px;
	color: #cbcbcb;
}
.feedbackFormButton{
	width: 100px;
	margin: auto;
	font-family: 'open_sansregular';
	font-size: 15px;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	margin-top: 10px;
	background: #F15757;
	padding: 5px 20px;
	cursor: pointer;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f15757', endColorstr = '#b5583c');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f15757', endColorstr = '#b5583c')";
	background-image: -moz-linear-gradient(top, #f15757, #b5583c);
	background-image: -ms-linear-gradient(top, #f15757, #b5583c);
	background-image: -o-linear-gradient(top, #f15757, #b5583c);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#f15757), to(#b5583c));
	background-image: -webkit-linear-gradient(top, #f15757, #b5583c);
	background-image: linear-gradient(top, #f15757, #b5583c);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.feedbackFormButtonErrorCallback{
	width: 130px;
	margin-top: -60px;
	font-size: 18px;
}
}
select#subscription {
   background-color: rgb(255, 255, 255) !important;
}
span.waived {
    text-decoration: line-through;
}
.routerSelectWrapper p,
.pwpSelectWrapper p {
    font-family: 'open_sansregular';
    font-size: 15px;
    color: #eeeeee;
    text-align: justify;
    line-height: normal;
}
span.onetime-payment {
    font-size: 14px !important;
}