::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #e2e2e2;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #e2e2e2;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #e2e2e2;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #e2e2e2;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #e2e2e2;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #e2e2e2;
}
/* Responsive IFRAME */
@media (min-width: 1200px) {
  div#zuora_payment iframe {
      width: 1170px !important;
  }
}
@media (min-width: 992px)  and (max-width: 1199px){
  div#zuora_payment iframe {
      width: 970px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  div#zuora_payment iframe {
      width: 750px !important;
  }
}
@media (max-width: 767px) {
  div#zuora_payment iframe {
      width: 340px !important;
  }
}
/* Responsive IFRAME */
@media (max-width: 480px) {
  .lds-spinner {
    left:0% !important;
    padding-left: 140px !important;
  }
  button#skipButton { 
    margin-top:40px !important;
    margin-bottom: 10px !important;
  }
  button#cancelButton {
    margin: 10px 0 0px 0 !important;
  }
  .planHeaderIndex {
    padding:15px 15px !important;
  }
  #payment-subtitle {
    padding:0px;
  }
  div#tnc_button #next {
    padding: 5px 5px !important;
  }
  .planHeader, 
  .planFooter {
    padding: 15px 10px !important;
  }
  .vq-logo {
    width: 100% !important;
    margin-bottom: 25px;
  }
  .plan-summary {
    min-height: 130px !important;
  }
  .ui-datepicker {
    width: 17.7em !important;
    /*box-shadow: 1px 1px 1px 1px #888888;*/
      box-shadow: 0 0 10px rgba(0,0,0,0.8);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.8);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.8);
  }
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .planFooterIndex {
    padding:0px !important;
  }
  .plan-sign,
  span.plan-cents {
    font-size: 35px !important;
  }
  span.plan-price {
    font-size: 60px !important;
  }

  .signupButton:hover {
      background: #fff;
  }
  .routerName,
  .pwpName,
  .routerPrice,
  .pwpPrice { 
    padding:0px 5px !important;
  }

  .bx-controls {
    display: none;
  }
  div#reSuccess {
    font-size: 40px !important;
  }  
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .planFooterIndex {
    padding:0px !important;
  }
   div#reSuccess {
    font-size: 40px !important;
  }  
  .signupButton:hover {
      background: #fff;
  }
  div#routerOption1, div#routerOption2 {
      margin-bottom: 34px;
  }
  .bx-controls {
    display: none;
  }
  .plan-sign {
    font-size: 20px !important;
    font-weight: normal;
    position: relative;
    top: -15px !important;
    right: -6px !important;
  }
  .terms-and-conditons-text {
    width: 94% !important; 
  }

  span.plan-price {
      font-size: 50px !important;
      font-weight: normal;
  }
  span.plan-cents {
      font-size: 20px !important;
      font-weight: normal;
      position: relative;
      top: -19px;
  }
  .planSelected1,
  .planSelected2,
  .planSelected3,
   .planSelected4,
   .planSelected5{
    font-size: 20px !important;
  }
  .planHeader, 
  .planFooter {
    padding:15px 20px !important;
  }
  .signupButton h5, 
  .signupButton h4 {
    font-size:15px !important;
  }
  .signupButton {
    min-height: 210px;
  }
  .mobile-container {
    width: auto !important;
  }
  .standardBtn{
	   width: 174px !important;
  }
  #next {
    width: 174px !important;
  }
  #next,
  #prev {
    padding: 5px 38px !important;
  }
}
@media (min-width: 768px) {
  .no_padding {
    padding:0px;
  }
 .sliderDesktop {
    display: block;
    padding:0px;
  }
  
  #mobile-total1 {
    display: none !important;
  }
  #mobile-total2 {
    display: block !important;
  }
  .bx-controls-direction {
    display: none;
    z-index: -9999;
  }
}
@media (min-width: 768px) {
  .routerName {
    margin-bottom: 0px !important;
  }
}
@media (max-width: 767px) {
  button#skipButton { 
    margin-top:40px !important;
    margin-bottom: 10px !important;
  }
  button#cancelButton {
    margin: 10px 0 0px 0 !important;
  }
  p.subtitle-steps {
    margin:0px;
  }
  .signup-steps {
    font-size: 28px !important;
  }
  #signup-buttons,
  #index_container {
    margin-top: 0px !important;
  }
  .planFooterIndex {
    padding:0px !important;
  }
  div#tnc_button #next {
    padding: 5px 15px;
  }
  .preview-content {
    margin-top: 20px;
  } 
  h1.registration-h1 {
    margin-top: 15px !important;
  }
  .fdnsPadding {
    padding:0px !important;
    padding-right:15px !important;
  }
  .ovPadding {
    padding:0px !important; 
  }
  .preview-btn2 {
    padding:5px 7px !important;
  }
  .no_p {
    padding:0px !important;
  }
  .mobile-plan {
    display: block;
    margin:0 auto;
    text-align: center;
  }
  .feasibility-check-left-panel {
    width: 100% !important;
  }
  .results-next-button {
    width: 100% !important;
    margin-top:0px !important;
  }
  .feasibility-check-right-panel-wrapper {
    width: 100% !important;
  }
  #check-coverage-button {
    margin-top: 15px !important;
    width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .index-footer {
    margin-top: 15px !important;
  }
  div#reSuccess {
    font-size: 35px !important;
  }
  .feasibility-form {
    padding: 10px 5px !important;
  }
  .terms-and-conditons-text {
    width: 88% !important; 
  }
  .tnc-h1 {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  h1.registration-h1 {
    margin-left: 15px;
  }
  #thank-you h1 {
    font-size: 28px;
  }
  .no_padding_r {
    padding-right: 15px !important;
  }
  .no_padding_l {
    padding-left: 15px !important;
  }
  ul.sliderMobile li {
    width: 300px !important;
    margin-right: 10px;
  }
  .sliderMobile {
    display: block !important;
    padding:0px;
  }
  .sliderDesktop {
      display: none;
  }
  div#subscription button {
      margin-bottom: 10px;
  }
  .mobile-container {
    width: auto !important;
  }
  #order-preview {
    padding:0px !important;
  }
  .no_pads {
    padding:0px !important;
  }
  .no_margs {
    margin:0px !important;
  }
  .no_margs_right {
    margin-right: -15[x];
  }
  .plan-summary {
    padding-bottom: 20px !important;
    min-height: 170px;
  }
  .no_padding_left {
    padding-left: 0px !important;
  }
  #orders {
    width: 100% !important;
  }
  .down,
  .up {
    right:20px !important;
  }
  .table-row {
    line-height: 30px !important;
  }
  #mobile-total1 {
     display: block !important;
  }
  #mobile-total2 {
    display: none !important;
  }
  .top-table tr {
    line-height: 15px !important;
  }
  .routerOption {
    margin-bottom: 20px !important;
  }
  .vasOV,
  .vas {
    margin-top: 20px;
  }
  #router, 
  #vasOption {
    margin-bottom: 10px !important;
  }
  #order-preview span {
    font-size: 10px !important;
  }
  #order-preview label {
    font-size: 12px !important;
    font-weight: bold !important;
  }
  div#orders h2 {
    font-size:16px !important;
  }
  div#orders h4 {
    font-size: 14px !important;
    font-weight: bold !important;
  }
  .summary-footer td {
    font-size: 14px !important;
  }
  .summary-table {
    font-size: 12px !important;
  }
  .steps li {
    font-size:10px !important;
  }
  .signup_no_padding {
    padding:0px !important;
  }
  .steps li:before {
    width: 25px !important;
    height:25px !important;
  }
  .steps {
    margin-bottom: 0px !important;
  }
  .reg-right-panel {
    margin-top: 10px;
  }
  #next,
  #prev {
    padding: 5px 30px !important;
  }
  .registration-button #next {
    width: 160px !important;
  }
}
.sliderMobile {
  display: none;
}
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px; 
  cursor: pointer; 
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  right: 8px;
  top: 16px;
  cursor: pointer; 
  position: absolute; 
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  right: 8px;
  top: 16px;
  cursor: pointer; 
  position: absolute; 
}
.no_padding_left {
  padding-left: 0px;
}
.no_padding_r {
  padding-right: 0px;
}
.no_padding_l {
  padding-left: 0px;
}
.no_margin {
  margin:0px;
}
.no_margin_left {
  margin-left: 0px;
}
.no_margin_right {
  margin-right: 0px;
}
.hidden_field {
    /*display: none;*/
}
.body {
    font-family: proxima_nova_rgregular !important;
}
div#header {
    background: #231f20;
}
.buttonWrapper {
	display: block;
    margin: 0 auto;
    /*text-align: center;*/
    margin-bottom: 20px;
}
button.btn-add-ons {
    margin: 0px 20px;
    padding: 8px 50px;
    min-width: 210px;
}
#thank-you {
    background: #f1f1f2;
    padding: 20px 0px;
    font-family: proxima_nova_rgregular;
}
.index-form {
    padding:20px;
    font-family: proxima_nova_rgregular;
}
.container,
.container-fluid  {
    font-family: proxima_nova_rgregular !important;
}
.index-form .registration-input-type,
.registrationWrapper .registration-input-type,
.registration-select,
#referenceName {
    border-radius: 0px;
    border-color: #6d6e71;
    min-height:40px;
    width: 100% !important
}
.registrationWrapper .registration-input-type,
.registration-select,
#referenceName {
  border-width: 0.5px;
}
#check-coverage-button {
    padding: 5px 60px;
    margin: 50px 0 0 0;
    color: #FFF;
    background: #e11837;
}
.index-form label {
    font-weight: normal;
}
.index-footer {
    margin-top: 50px;
    border-bottom: 1px solid #6d6e71; 
}
.index-footer a {
    color: #e11837 !important;
}
.main-container h2 {
    color: #000;
}
.feasibility-form {
    padding: 20px;
    border: 1px solid #6d6e71;
    color: #000;
    padding: 40px;
    margin-top: 20px;
}
.feasibility-form input[type="text"] {
    width: 100%;
}
.left-panel {
    margin-bottom: 15px;
}
.feasibility-form span {
    color:#000;
}
.what-this {
    color: #e11837;
}
.what-this:hover {
    text-decoration: none;
    color: #e11837;
}
.feasibility-check-right-panel {
    border-radius: 0px !important;
    border: 1px solid #6d6e71;
    color: #000;
    display: block !important; 
}
.results-next-button{
    padding: 5px 60px !important;
    margin: 20 0 0 0; 
    background: #e11837 !important;
    width: 50%;
}
.feasibility-check-right-panel-wrapper {
    display: inline-block;
    font-family: proxima_nova_rgregular;
    font-size: 14px;
    color: #FFF;
    overflow: auto;
}
.feasibility-check-right-panel{
    height: 185px;
    border: 1px solid #555252;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 20px;
    overflow: auto;
}
.results-text {
    color: #000;
}
div#reSuccess {
    font-family: proxima_nova_rgbold !important;
    font-size: 25px;
}
.results-wrapper-success {
    margin-bottom: 10px;
}
.qtip {
    max-width: 500px !important;
    background: #e6e7e8 !important;
    border-radius: 2px !important;
    font-family: proxima_nova_rgregular;
    border: none !important;
    box-shadow: none !important;
}
.notAllowed:hover {
    cursor: not-allowed;
}
.order-summary{
    right: 1em;
    top: 1em;
    position: fixed;
    background-color: #ffffff;
    padding: 20px;
    width: 400px;
    height: auto;
    z-index: 99999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.order-summary span{
    font-size: 12px;
}
#order-preview {
    background: #e6e7e8;
    /*min-height: 90px;*/
    font-size: 14px;
}
#order-preview label {
    font-weight: normal;
}
#order-preview span {
    display: block;
    font-family: proxima_nova_rgbold;
    font-size: 14px;
}
#signup-flow {
    min-height: 100px;
    -moz-box-shadow: 0px 6px 5px 0px #ccc;
    -webkit-box-shadow: 0px 6px 5px 0px #ccc;
    box-shadow: 0px 6px 5px 0px #ccc;
    margin-bottom: 20px;
	display: none;
}
.steps {
  position: relative;
  margin-bottom: 30px;
  margin-top: 25px;
  -webkit-padding-start: 0px !important;
 
}
.steps li {
  list-style-type: none;
  font-size: 14px;
  color:#000;
  text-align: center;
  width: 20%;
  position: relative;
  float: left;
}
.steps .active:before {
  background:#e11837;
  color:#fff;
} 
.steps li:before {
  display: block;
  content: "";
  counter-increment: step; 
  width: 32px;
  height: 32px;
  background-color: #fff;
  line-height: 32px;
  border-radius: 32px;
  border: 1px solid #d1d3d4;
  font-size: 16px;
  color: #000;
  text-align: center;
  font-weight: 700;
  margin: 0 auto 8px auto;
}
  
.steps li ~ li:after {
  content: '';
  width: 100%;
  height: 0.5px;
  background-color: #000;
  position: absolute;
  left: -50%;
  top: 15px;
  z-index: -1;
}
  
.steps li.active:after {
  background-color: #000;
  border: 1px solid #fff;
}
  
.steps li.active ~ li:before,
.steps li.active ~ li:after {
  background-color: #fff;
  border-top: 0.8px solid #d1d3d4;
  color:#000;
}
#signup-buttons .bx-wrapper {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    /* background: #fff; */
    margin-bottom: 0px !important;
}
.signupButton {
  border-radius: 0px !important;
  width: 100%;
  color: #000;
  text-align: left;
  font-weight: bold; 
  background: #fff; 
  cursor: pointer;
  min-height: 268px;
  border: 0.5px solid #d1d3d4;
}
.planSelected {
  border: 2px solid #c4122f;
}
.signupButton h3 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.signupButton h5,
.signupButton h4 {
    margin: 0px;
    font-weight: normal;
}
.signupButton h5 {
  font-size: 12px;
}
.plan-sign {
  font-size: 40px;
  font-weight: normal;
  position: relative;
  top: -19px;
  right: -8px;
}
.plan-summary span {
    font-size: 18px !important;
    display: block;
}
#summary-total {
  font-size: 18px !important;
}
span.plan-price {
    font-size: 65px;
    font-weight: normal;
}
span.plan-cents {
    font-size: 40px;
    font-weight: normal;
    position: relative;
    top: -19px;
}
.planSelectDetailsContents ul>li {
    list-style: none;
}

.planSelectDetailsContents ul {
    padding: 0px;
    text-align: left;
    line-height: 26px;
    font-size: 14px;
}
.planSelectDetailsWrapper {
  background: #fff;
  margin-top: 25px;
}
.planSelectContainerLink {
  background: #fff !important
}
p.subtitle-steps {
    line-height: 20px;
}
div#valueAddedServices {
    /*border-top: solid 1px #d1d3d4;*/
    margin-top: 20px;
}
#subscription button {
    width: 100%;
    background: #fff; 
    border: 2px solid #d1d3d4;
}
#subscription button:hover {
  background: #c4122f;
  border-color: #c4122f;
  color: #fff;
}
/** ROUTER PRICE **/
.routerPrice,
.pwpPrice{
  font-family: proxima_nova_rgregular;
  font-weight: bold;
  font-size: 15px;
  color: #000 !important;
  padding: 0px 15px;
  padding-bottom: 10px;
  display: block;
}
.routerName,
.pwpName {
  font-size: 12px;
  color: #000;
  padding: 15px 15px;
  font-family: proxima_nova_rgregular;
  line-height: 22px;
}
.routerName2gbps,
.pwpName2gbps {
  font-size: 12px;
  color: #000;
  padding: 15px 15px;
  font-family: proxima_nova_rgregular;
  line-height: 22px;
}
.noRouterName,
.noPwpName{
  background: #FFF;
  font-size: 25px;
  font-weight: bold;
  color: #000;
  text-align: center;
  padding: 35px 30px 34px 30px;
  cursor: pointer;
}
#router,
#vasOption {
  border-top: solid 1px #d1d3d4;
  margin: 50px 0px;
}
.routerOption {
  border: 0.5px solid #d1d3d4;
  min-height: 250px;
  padding:0px;
  cursor: pointer;
}
.router-image-container {
  padding-top: 15px;
  min-height: 110px;
  border-bottom: 0.5px solid #d1d3d4;
  padding-bottom: 15px;
}
#routerOption3 .router-image-container {
  min-height: 139px;
}
.fdnsLabel,
.fiberguardLabel,
.onsiteLabel {
    border: 1px solid #d1d3d4;
    border-bottom: 0.4px solid #d1d3d4;
    padding: 10px;
    font-size: 15px;
}
.fdnsValue,
.fiberguardValue {
    border: 1px solid #d1d3d4;
    border-top: 0.5px solid #d1d3d4;
    padding: 10px;
    font-size: 15px;
}
.ovLabel {
    border: 1px solid #d1d3d4;
    border-bottom: 0.4px solid #d1d3d4;
    padding: 10px;
    font-size: 15px;
}
.ovValue {
    border: 1px solid #d1d3d4;
    border-top: 0.5px solid #d1d3d4;
    padding: 10px;
    font-size: 15px;
}
#ovAccordion,
.ovValue {
  padding:0px;
}
#onsiteAccordion .ui-helper-reset {
  line-height: 1.4 !important;
}
.fiberguardValue {
  padding:0 !important;
  border-top: 1px solid #d1d3d4;
}
#ovAccordion .ui-accordion-header,
#fiberguardAccordion .ui-accordion-header,
#onsiteAccordion .ui-accordion-header {
  border-radius: 0 !important;
  margin: 0 !important;
  background: #fff !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: 0 !important;
  padding: 12px !important; 
  padding-left: 25px !important;
}
#fiberguardAccordion .ui-accordion-header{
  border:none !important;
}
#onsiteAccordion .ui-accordion-header {
  border: 1px solid #d1d3d4 !important;
  border-top: 0.5px solid #d1d3d4 !important;
  border-bottom: 0px;
  padding: 14px 12px !important;
  padding-left: 25px !important;
}
#ovAccordion .ui-accordion-header-active,
#fiberguardAccordion .ui-accordion-header-active,
#onsiteAccordion .ui-accordion-header-active {
  color:#000 !important;
}
#ovAccordion .ui-accordion .ui-accordion-header .ui-accordion-header-icon,
#fiberguardAccordion .ui-accordion .ui-accordion-header .ui-accordion-header-icon, 
#onsiteAccordion .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  right: .5em !important;
}
.ui-accordion-content-active {
  border: none !important;
  /*padding: 13px !important;*/
  border-top: 0.5px solid #d1d3d4 !important;
}
.ui-accordion .ui-accordion-content p {
  margin-bottom: 0px !important;
}
div#ovAccordion ul>li,
div#fiberguardAccordion ul>li { 
    list-style: none;
    padding: 10px 25px;
}
div#onsiteAccordion ul>li {
  list-style: none;
  padding: 12px 25px;
}
div#ovAccordion ul,
div#fiberguardAccordion ul, 
div#onsiteAccordion ul {
    padding: 0px;
    margin-bottom: 0px;
}
div#ovAccordion ul>li:first-child, 
div#fiberguardAccordion ul>li:first-child, 
div#onsiteAccordion ul>li:first-child {
    border-bottom: 0.5px solid #d1d3d4 !important;
}
div#onsiteAccordion ul>li:first-child {
  border-bottom: 0px !important;  
  border-top: 0px !important;
}
div#onsiteAccordion ul>li {
  border: 1px solid #d1d3d4 !important;
  border-bottom: 0.5px solid #d1d3d4 !important;
}

.ovNote ul{
	padding-top: 10px !important;
}
.ovNote ul>li {
    /*line-height: 20px;
    font-size: 14px;
    padding-bottom: 15px;*/
	list-style:none; 
}
.ovNote {
    margin: 0;
    margin-top: 30px;
}
.ovNote ul {
    padding: 0;
}
div#onsiteAccordion ul>li:nth-child(3) {
    border-radius: 0px !important;
}
div#onsiteAccordion ul>li:nth-child(2) {
    border-bottom: 0px !important;
}
.header_2gbps {
    border-bottom: 1px solid #d1d3d4 !important;
}
#vasOption2 {
  padding-bottom: 20px;
}
#order-summary {
  display: none
}
/*sss*/
.plan-summary {
  background: #d1d3d4;
  /*padding:15px 15px;*/
  /*padding-bottom: 75px;*/
  cursor: pointer;
  padding:4px 4px;
}
#order-summary .row {
  position: relative;
}
.plan-preview {
  /*padding:15px 15px;*/
  padding:4px 4px;
}
#orders {
  background: #F7E4DD ;
  padding: 10px;
  min-height: 200px;
  position: absolute;
  z-index: 1;
  padding-bottom: 20px;
}
.summary-table {
  width: 100%;
}
.table-row td:last-child {
  text-align: right;
}
div#orders h2 {
    font-size: 25px;
    font-weight: bold;
}

div#orders h4 {
    font-size: 15px;
    font-weight: bold;
}
.summary-footer {
  margin-top:20px;
}
.total-label {
  text-align: right;
}
.summary-footer td {
  font-weight: bold;
  font-size: 15px;
}
.summary-total table {
  border-top:2px solid #d1d3d4;
  padding-top: 15px;
}
#total-charge td {
    font-size: 15px !important;
}
.planHeader {
    padding: 15px 40px;
}
.planFooter {
    padding: 29px 0px;
}
.planHeader_red {
  background: #c4122f;
  color:#fff;
  padding: 5px 40px !important;
}
.planFooter {
  padding-bottom: 0px;
}
.planSelected .planFooter {
  padding-top:5px !important;
}
.planSelected1,
.planSelected2,
.planSelected3,
.planSelected4,
.planSelected5 {
  display: none;
  margin:0px;
  color: #fff;
  padding-top: 10px;
}
.paymentSelected {
  background: #c4122f !important;
  color:#fff;
  border-color: #c4122f !important;
}
.routerSelected {
  border-color: #c4122f !important;
  border-width: 2px !important;
}

#twoGbps_installation,
#raptor_installation {
  display: none;
}
select.vasOption {
  padding: 10px 23px;
  height: 43px;
  border-radius: 0;
  font-size: 15px;
  background: #FFF;
  background-image: url(../images/caret--down-15.png) !important;
  background-repeat: no-repeat;
  background-position: right;
}
#OvOption {
  border: none;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: all 1s ease 0s;
}
#inc-ov,
#inc-installation,
#inc-plan,
#inc-fdns,
#inc-fg,
#inc-monthly-ov,
#inc-ov-display,
#inc-router {
  display: none;
}
.bx-wrapper .bx-pager, 
.bx-wrapper .bx-controls-auto {
  bottom:0px !important;
}
#next,
#prev {
  margin: 20px 0 50px 0 ;
  padding: 5px 60px;
  background: #e11837 !important; 
  font-family: proxima_nova_rgregular;
  color: #fff;
}
.standardBtn{
  margin-top: 30px;
  padding: 5px 60px;
  background: #e11837 !important; 
  font-family: proxima_nova_rgregular;
  color: #fff;
}
#prev {
  background: #878485 !important;
}
h1.registration-h1 {
  margin-top: 0px;
  border-bottom: 0.5px solid #d1d3d4;
  padding-bottom: 10px;
  margin-bottom: 25px;
}
.nflix {
  margin-top: 10px;
}
.registrationWrapper label {
    font-weight: normal;
}

.nric_left,
.nirc_right {
  position: relative;
}
.nric_left label,
.nric_right label {
  background: #fff;
  color: #000;
  font-weight: bold;
  font-size: .9em;
  transition: all .4s;
  width: 100%;
  padding: 10px 10px;
  text-align: center;
  border: 1px solid #6d6e71;
  cursor: pointer;
}
.nric_left input,
.nric_right input {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  opacity: 0.01;
  cursor: pointer;
}
.nric_left input:hover + label,
.nric_left input:focus + label,
.nric_right input:hover + label,
.nric_right input:focus + label  {
  background: #e11837;
  color: #fff;
}
.nric_upload {
  margin-bottom: 8px;
}
.registration-button #next {
  width: 200px;
}
.reg-buttons {
  margin: 0 auto;
  display: block;
  text-align: center;
}
.preview-entry {
  color: #000 !important;
  font-family: proxima_nova_rgregular;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 12px;
}
.preview-content label {
  margin-bottom: 0px !important;
  font-weight: normal !important;
}
.preview-summary {
    background: #f1f2f2;
    padding-bottom: 25px;
    padding-top: 30px;
}
.table-header h2 {
    font-size: 18px !important;
    font-weight: bold;
}
.table-sub-header,
.one-time-charges-header,
.monthly-charges-header,
.total-header {
  font-weight: bold !important;
}
.preview-summary table {
  width: 100%;
}
.preview-summary table td:nth-child(even),
.total-header,
.total-value {
  text-align: right;
}
.one-time-charges-header,
.monthly-charges-header,
.total-value {
  border-top: 0.8px solid #d1d3d4;
  line-height: 30px;
}
.tr-border {
  height: 30px;
}
.table-row {
    font-size: 14px;
}
.total-value {
    font-size: 20px;
    font-weight: bold;
}
.tr-border1 {
  height: 40px;
}
.tr-border2 {
  height: 50px;
}
.preview-btn button,
.preview-btn input,
.tnc-btn input {
    width: 100%;
}

.preview-btn {
    margin-top: 20px;
}
.termsConditionsWrapper {
    border: 1px solid #d1d3d4;
    padding: 10px 20px;
}
#payment-subtitle {
  margin-bottom: 15px;
}
div#zuora_payment iframe {
    background: #fff !important;
}
.contactFormSubmitButton{
color: #ffffff !important;
}
.ui-dialog-buttonset{
	color: #ffffff !important;
}
.bx-wrapper .bx-controls-direction a {
  top:23% !important;
}
.bx-wrapper .bx-prev {
  left: 0px !important;
}
.bx-wrapper .bx-next {
  right: 0px !important;
}
#sticky-bar {
  z-index: 9999999;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
     float: none !important; 
    margin: 0 auto;
    display: block;
    text-align: center;
}
.ui-dialog-buttonset button {
    padding: 5px 28px;
    color:#fff !important;
    background: #e11837 !important;
    font-family: proxima_nova_rgregular;
}
.ui-button-text-only .ui-button-text {
  padding:0px;
}
.feedbackFormButton,
.contactFormSubmitButton {
  padding: 5px 20px !important;
  background: #e11837 !important;
  border-radius: 0px !important;
  font-family: proxima_nova_rgregular !important;
  font-weight: normal !important;
}
.optionContentText1,
.textLabel,
input[type="text"],
.textarea {
    font-family: proxima_nova_rgregular !important;
}
.white-popup {
  padding:20px !important;
}
.sweet-alert.showSweetAlert.visible {
    font-family: proxima_nova_rgregular !important;
}
span.annual-price {
  font-size: 20px;
  font-weight: normal;
  padding: 0px 10px;
}
.footer-button {
    margin-top: 30px;
}
div#comment-box {
    border-bottom: 1px solid #d1d3d4;
    padding-bottom: 30px;
    margin-top: 15px;
}
#remarksField {
  width:100% !important;
}
.plan_selection_1,
.plan_selection_2,
.plan_selection_3 {
  height: auto !important;
}
.planSelectDetailsContentsIndex {
    margin-top: 20px !important;
}
.planHeaderIndex, .planFooterIndex {
  padding:15px 25px;
}
.planFooterIndex {
  padding: 0;
  border-top: 0.5px solid #d1d3d4;
  background: #d1d3d4 !important;
  color: #fff !important;
  text-align: center;
}
.planSelectDetailsContentsIndex ul {
    padding:0px 15px;
}
.planSelectDetailsContentsIndex ul>li {
    list-style-type: square;
}
.plan_free_1{
  margin-bottom: 28px;
}
#index_container {
  margin-top:30px;
  padding-bottom: 50px;
  border-bottom: 1px solid #d1d3d4;
}
#index_plan {
  margin-top:20px;
}
.selectedPlan {
  background: #e11837 !important;
  transition: all 0.4s ease;
  color: #fff !important;
}
p.steps-mobile {
    font-size: 20px;
}
i.fa.fa-spinner.fa-spin {
  border: none;
}
.lds-spinner {
      display: block;
    position: relative;
    height: 40px;
    left: 45%;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #000;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
button#cancelButton,
button#skipButton {
  margin: 20px 0 50px 0;
  padding: 5px 60px;
  background: #e11837 !important;
  font-family: proxima_nova_rgregular;
  color: #fff;
  width: 200px;
}
.planFooterIndex button {
  padding: 34px 20px !important;
  border-radius: 0px !important;
  font-family: proxima_nova_rgregular !important;
  font-weight: normal !important;
  display: block;
  width: 100%;
  background: #d1d3d4 !important;
  color: #000;
  font-size: 20px;
}
.planFooterIndex button:hover {
  background: #e11837 !important;
  color: #fff;
}
.uploadbuttons {
  display: none;
}