<!-- 1Gbps Orbi Mesh Router -->
<p class="step mb-0">Step 2</p>
<p class="step-subtitle" >On to a hardware companion for your awesome plan! <br> Choose one.</p>
<p class="steps-title mb-2">Hardware:</p>
<div class="row mx-0" [formGroup]="routerForm">
  <input type="hidden" id="routerKey" name="routerKey" formControlName="routerKey" value="{{routerKey}}">
  <swiper [config]="config" class="d-block w-100">
    <div class="swiper-wrapper">
      <div *ngFor="let slide of routers; let i=index" class="router-slide swiper-slide mx-2 px-2 pb-1" [class.active-router]="selectedItem == i" 
      (click)="toggleClass(i, slide.key)">
        <div class="router-image d-block mx-auto mb-2 mt-2">
          <img src="{{ slide.img }}" class="img-fluid align-middle d-block mx-auto pt-1 w-75">
        </div>
        <span class="router-free d-block mx-auto text-center">{{ slide.title }}</span>
        <span class="router-price d-block mx-auto text-center pb-1">{{ slide.price }}</span>
      </div>
    </div> 
    <div class="swiper-pagination"></div>
    <!-- If we need navigation buttons -->
  </swiper>
</div>
<!-- End of 1Gbps Orbi Mesh Router -->