<div class="row">
    <div class="form-group col-6">
        <label>Unit*</label>
        <input type="text" class="form-control" ng-model="unit"/> 
     
    </div>
    <div class="form-group col-6">
        <label>Area/Taman/Section:</label>
        <input type="text" class="form-control" ng-model="myarea" value="{{myarea}}"/> 
		
      
    </div>
    <div class="form-group col-6">
        <label>Street:</label>
        <input type="text" class="form-control" ng-model="mystreet" value="{{mystreet}}"/>
      
    </div>
	 <div class="form-group col-6">
        <label>Building:</label>
        <input type="text" class="form-control" ng-model="mybuilding" value="{{mybuilding}}"/>
      
    </div>
	 <div class="form-group col-6">
        <label>City:</label>
        <input type="text" class="form-control" ng-model="mycity" value="{{mycity}}"/>
      
    </div>
	 <div class="form-group col-6">
        <label>Postcode:</label>
        <input type="text" class="form-control" ng-model="mypostcode" value="{{mypostcode}}"/>
       
    </div>
	 <div class="form-group col-12">
        <label>State:</label>
        <input type="text" class="form-control" ng-model="mystate" value="{{mystate}}"/>
      
    </div>
    
</div>
  <div class="form-group pt-3 d-flex justify-content-end col-md-12 pr-0">
            <button class="btn btn-danger py-1 px-5" (click)="nextButton()">Next</button>
        </div>