<!-- Start of basic customer details -->
<div class="container-fluid sub-header">
    <div class="container pt-3 pb-2">
        <div class="row">
            <div class="col px-0">
                <h1>Success!</h1>
            </div>
        </div>
    </div>
</div>

<div id="results" class="container">
    <div class="row">
        <div class="col-12 text-center">
            <div class="callback-wrapper">
                <div class="callback-container">
                    <div class="callback-image"><img src="../../../../assets//img/success.png" class="img-fluid w-25 mx-auto d-block py-4"></div>
                    <div class="callback-message pb-3">
                        Welcome onboard! You have successfully signed up for ViewQwest's Fiber Broadband Services. <br />
                        Our staff will be getting in touch with you within 3 working days to confirm your installation date & time.
                    </div>
                    <div class="callback-message operatingHours">
                        <br />
                        <b>Operating Hours:</b> 9am-6pm (Mon to Fri) <br>
                        <b>Email:</b> <a href="mailto:cs@viewqwest.com"> cs@viewqwest.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>