<div class="row" [formGroup]="paymentForm">
    <div class="form-group col-12" [class.col-md-9]="!isLongForm" [class.col-md-6]="isLongForm">
        <label class="form-label required" id="form-label-creditCardNumber" for="input-creditCardNumber">
            Card Number
        </label>
        <input type="text" formControlName="creditCardNumber" class="form-control" maxlength="32" [ngClass]="{ 'is-invalid': (shortFormSubmitted || f.creditCardNumber.dirty || f.creditCardNumber.touched) && f.creditCardNumber.errors, 'is-valid': !f.creditCardNumber.errors }" />
        <div *ngIf="(paymentFormSubmitted || f.creditCardNumber.dirty || f.creditCardNumber.touched) && f.creditCardNumber.errors" class="invalid-feedback">
            <ng-container *ngFor="let validation of validation_message.creditCardNumber">
                <div *ngIf="f.creditCardNumber.hasError(validation.type)">{{validation.message}}</div>
            </ng-container>
        </div>
    </div>

</div>

