<header>
    <div class="container-fluid no_padding px-0">
       <div class="container">
          <div class="row py-4 mx-0">
             <div class="col-6 d-flex align-items-center pl-0">
                <div class="vq-logo"><img src="assets/img/vq-logo.png" class="img-fluid w-100"></div>
             </div>
             <!-- <div class="col-6 px-0 text-right">
                <div class="ookla-logo"><img src="assets/img/ookla.png" class="img-fluid w-25"></div>
                </div> -->
          </div>
       </div>
    </div>
 </header>
 <router-outlet>
   <app-contact-us></app-contact-us>
 </router-outlet>
 <footer>
    <div class="container mt-5 mb-2">
       <div class="row mx-0">
          <div class="col-12 text-center">
             <p> <a href="https://viewqwest.com/data-protection" target="_blank"> Privacy Policy </a></p>
          </div>
       </div>
    </div>
 </footer>