<!--<form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
    <label>
        Card Number
        <input type="text" formControlName="cardNumber">
    </label>

    <label>
        Full Name
        <input type="text" formControlName="fullName">
        <input type="text" [formControl]="name">
        {{name.value}}
    </label>
    <button type="submit" [disabled]="!paymentForm.valid">Submit</button>
</form>-->
<!-- Start of basic customer details -->
<div class="container-fluid sub-header">
    <div class="container pt-3 pb-2">
        <div class="row">
            <div class="col-12">
                <h1>Billing Details</h1>
            </div>
        </div>
    </div>
</div>

<div id="payment-page" class="container">
    <div class="row">
        <div class="col-12">
            <p>Please fill in your card information below. You will be charged RM1 by the payment system for card testing - this will automatically be refunded back to you. You will only be charged for your first bill once your service is installed and activated, and the charging will be automated on a monthly basis once your bill has been generated. Upon clicking submit on this form, please allow up to 1 minute for information to be processed securely. DO NOT REFRESH THE PAGE.</p>
            <div class="row">
                <div class="col-12">
                    <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">

                        <!--start of payment form-->
                        <div class="content">
                            <!--  error section -->
                            <!--<div id="error" class="error" role="alert" aria-live="assertive"> Form Status: {{ paymentForm.status }}</div>-->
                            <div class="spacer"></div>
                            <p>&nbsp;</p>
                            <div class="form-group" id="form-group-creditCardType" style="display: none;">
                                <label class="form-label" id="form-label-creditCardType" for="input-creditCardType">
                                    Card Type
                                </label>
                                <div class="form-element" id="form-element-creditCardType">
                                    <ng-container *ngIf="isVisa">
                                        <div id="card-image-container-Visa" aria-live="polite" name="card-image-creditCardType" class="card-image-Visa-disabled card-image " aria-selected="false" aria-hidden="true" aria-disabled="true">

                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="isMastercard">
                                        <div id="card-image-container-MasterCard" aria-live="polite" name="card-image-creditCardType" class="card-image-MasterCard-disabled card-image " aria-selected="false" aria-hidden="true" aria-disabled="true">

                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="isAmericanExpress">
                                        <div id="card-image-container-AmericanExpress" aria-live="polite" name="card-image-creditCardType" class="card-image-AmericanExpress-disabled card-image " aria-selected="false" aria-hidden="true" aria-disabled="true">

                                        </div>
                                    </ng-container>
                                    <input type="hidden" id="input-creditCardType" name="field_creditCardType" aria-live="polite" value="">
                                </div>
                                <a class="tooltip" id="tooltip-creditCardType" href="#">
                                    <span class="tooltip-text" id="tooltip-text-creditCardType"></span>
                                </a>
                                <div id="error-creditCardType" for="field_creditCardType" class="error-field"></div>
                            </div>
                            <div class="form-group" id="form-group-creditCardNumber">
                                <label class="form-label required" id="form-label-creditCardNumber" for="input-creditCardNumber">
                                    Card Number
                                </label>
                                <div class="form-element required" id="form-element-creditCardNumber">
                                    <input type="text" id="input-creditCardNumber" value="" class="text-input text-card-number" name="field_creditCardNumber" maxlength="32" encrypt="true" aria-required="true" aria-describedby="error-creditCardNumber" formControlName="cardNumber" required>
                                </div>

                                <a class="tooltip" id="tooltip-creditCardNumber" href="#">
                                    <span class="tooltip-text" id="tooltip-text-creditCardNumber"></span>
                                </a>
                                <div id="error-creditCardNumber" for="field_creditCardNumber" class="error-field"><span *ngIf="(submitted || f.cardNumber.dirty || f.cardNumber.touched)&& paymentForm.controls.cardNumber.errors">Invalid Card Number</span></div>
                            </div>
                            <div class="form-group" id="form-group-creditCardExpirationMonth">
                                <label class="form-label required" id="form-label-creditCardExpirationMonth" for="input-creditCardExpirationMonth">
                                    Expiration Date
                                </label>
                                <div class="form-element required" id="form-element-creditCardExpirationMonth">
                                    <select encrypt="true" class="select-input " id="input-creditCardExpirationMonth" name="field_creditCardExpirationMonth" formControlName="cardExpMonth" required>
                                        <option value="" selected="selected">
                                            - Month -
                                        </option>
                                        <option value="01">
                                            01
                                        </option>
                                        <option value="02">
                                            02
                                        </option>
                                        <option value="03">
                                            03
                                        </option>
                                        <option value="04">
                                            04
                                        </option>
                                        <option value="05">
                                            05
                                        </option>
                                        <option value="06">
                                            06
                                        </option>
                                        <option value="07">
                                            07
                                        </option>
                                        <option value="08">
                                            08
                                        </option>
                                        <option value="09">
                                            09
                                        </option>
                                        <option value="10">
                                            10
                                        </option>
                                        <option value="11">
                                            11
                                        </option>
                                        <option value="12">
                                            12
                                        </option>
                                    </select>
                                    /
                                    <select encrypt="true" class="select-input " id="input-creditCardExpirationYear" name="field_creditCardExpirationYear" formControlName="cardExpYear" required>
                                        <option value="" selected="selected">
                                            - Year -
                                        </option>
                                        <option value="2019">
                                            2019
                                        </option>
                                        <option value="2020">
                                            2020
                                        </option>
                                        <option value="2021">
                                            2021
                                        </option>
                                        <option value="2022">
                                            2022
                                        </option>
                                        <option value="2023">
                                            2023
                                        </option>
                                        <option value="2024">
                                            2024
                                        </option>
                                        <option value="2025">
                                            2025
                                        </option>
                                        <option value="2026">
                                            2026
                                        </option>
                                        <option value="2027">
                                            2027
                                        </option>
                                        <option value="2028">
                                            2028
                                        </option>
                                        <option value="2029">
                                            2029
                                        </option>
                                        <option value="2030">
                                            2030
                                        </option>
                                        <option value="2031">
                                            2031
                                        </option>
                                        <option value="2032">
                                            2032
                                        </option>
                                        <option value="2033">
                                            2033
                                        </option>
                                        <option value="2034">
                                            2034
                                        </option>
                                        <option value="2035">
                                            2035
                                        </option>
                                        <option value="2036">
                                            2036
                                        </option>
                                        <option value="2037">
                                            2037
                                        </option>
                                        <option value="2038">
                                            2038
                                        </option>
                                        <option value="2039">
                                            2039
                                        </option>
                                    </select>

                                </div>
                                <a class="tooltip" id="tooltip-creditCardExpirationMonth" href="#">
                                    <span class="tooltip-text" id="tooltip-text-creditCardExpirationMonth"></span>
                                </a>
                                <div id="error-creditCardNumber" for="field_creditCardNumber" class="error-field"><span *ngIf="submitted && paymentForm.controls.cardExpMonth.errors?.required">Month Expiration is required</span></div>
                                <div id="error-creditCardNumber" for="field_creditCardNumber" class="error-field"><span *ngIf="submitted && paymentForm.controls.cardExpYear.errors?.required">Year Expiration is required</span></div>
                            </div>
                            <div class="form-group" id="form-group-cardSecurityCode">
                                <label class="form-label required" id="form-label-cardSecurityCode" for="input-cardSecurityCode">
                                    CVV
                                </label>
                                <div class="form-element required" id="form-element-cardSecurityCode">
                                    <div id="cvvPosition" class="image-cvv-position">
                                        <input id="input-cardSecurityCode" encrypt="true" type="text" value="" class="text-input-cvv" name="field_cardSecurityCode" maxlength="4" aria-describedby="error-cardSecurityCode" formControlName="cardCVV" required>&nbsp;
                                        <img src="https://static.zuora.com/Resources/528317/Images/cvv_logo.png" alt="cvv" class="image-cvv" onmouseover="document.getElementById('vvDes').style.display = '';" onmouseout="document.getElementById('vvDes').style.display = 'none';">
                                        <div id="vvDes" class="image-cvv-des" style="display:none">
                                            <img alt="preview" src="https://static.zuora.com/Resources/528317/Images/cvv_preview_2.jpg">
                                        </div>
                                    </div>
                                </div>
                                <a class="tooltip" id="tooltip-cardSecurityCode" href="#">
                                    <span class="tooltip-text" id="tooltip-text-cardSecurityCode"></span>
                                </a>
                                <div id="error-cardSecurityCode" for="field_cardSecurityCode" class="error-field"><span *ngIf="submitted && paymentForm.controls.cardCVV.errors?.required">CVV is required</span></div>
                            </div>
                            <div class="form-group" id="form-group-creditCardHolderName">
                                <label class="form-label required" id="form-label-creditCardHolderName" for="input-creditCardHolderName">
                                    Cardholder Name
                                </label>
                                <div class="form-element required" id="form-element-creditCardHolderName">
                                    <input type="text" id="input-creditCardHolderName" value="" class="text-input" name="field_creditCardHolderName" maxlength="50" encrypt="false" aria-required="true" aria-describedby="error-creditCardHolderName" formControlName="cardFullName" required>
                                </div>
                                <a class="tooltip" id="tooltip-creditCardHolderName" href="#">
                                    <span class="tooltip-text" id="tooltip-text-creditCardHolderName"></span>
                                </a>
                                <div id="error-creditCardHolderName" for="field_creditCardHolderName" class="error-field"><span *ngIf="submitted && paymentForm.controls.cardFullName.errors?.required">Full name is required</span></div>
                            </div>
                            <div class="form-group" id="form-group-creditCardCountry">
                                <label class="form-label required" id="form-label-creditCardCountry" for="input-creditCardCountry">
                                    Country
                                </label>
                                <div class="form-element required" id="form-element-creditCardCountry">
                                    <select encrypt="false" id="input-creditCardCountry" class="state-select-input " name="field_creditCardCountry" aria-required="true" aria-describedby="error-creditCardCountry" formControlName="cardCountry" required>
                                        <option value="" selected="selected">
                                            - Select One -
                                        </option>
                                        <option value="AFG">
                                            Afghanistan
                                        </option>
                                        <option value="ALA">
                                            Aland Islands
                                        </option>
                                        <option value="ALB">
                                            Albania
                                        </option>
                                        <option value="DZA">
                                            Algeria
                                        </option>
                                        <option value="ASM">
                                            American Samoa
                                        </option>
                                        <option value="AND">
                                            Andorra
                                        </option>
                                        <option value="AGO">
                                            Angola
                                        </option>
                                        <option value="AIA">
                                            Anguilla
                                        </option>
                                        <option value="ATA">
                                            Antarctica
                                        </option>
                                        <option value="ATG">
                                            Antigua And Barbuda
                                        </option>
                                        <option value="ARG">
                                            Argentina
                                        </option>
                                        <option value="ARM">
                                            Armenia
                                        </option>
                                        <option value="ABW">
                                            Aruba
                                        </option>
                                        <option value="AUS">
                                            Australia
                                        </option>
                                        <option value="AUT">
                                            Austria
                                        </option>
                                        <option value="AZE">
                                            Azerbaijan
                                        </option>
                                        <option value="BHS">
                                            Bahamas
                                        </option>
                                        <option value="BHR">
                                            Bahrain
                                        </option>
                                        <option value="BGD">
                                            Bangladesh
                                        </option>
                                        <option value="BRB">
                                            Barbados
                                        </option>
                                        <option value="BLR">
                                            Belarus
                                        </option>
                                        <option value="BEL">
                                            Belgium
                                        </option>
                                        <option value="BLZ">
                                            Belize
                                        </option>
                                        <option value="BEN">
                                            Benin
                                        </option>
                                        <option value="BMU">
                                            Bermuda
                                        </option>
                                        <option value="BTN">
                                            Bhutan
                                        </option>
                                        <option value="BOL">
                                            Bolivia
                                        </option>
                                        <option value="BES">
                                            Bonaire, Saint Eustatius and Saba
                                        </option>
                                        <option value="BIH">
                                            Bosnia and Herzegovina
                                        </option>
                                        <option value="BWA">
                                            Botswana
                                        </option>
                                        <option value="BVT">
                                            Bouvet Island
                                        </option>
                                        <option value="BRA">
                                            Brazil
                                        </option>
                                        <option value="IOT">
                                            British Indian Ocean Territory
                                        </option>
                                        <option value="BRN">
                                            Brunei Darussalam
                                        </option>
                                        <option value="BGR">
                                            Bulgaria
                                        </option>
                                        <option value="BFA">
                                            Burkina Faso
                                        </option>
                                        <option value="BDI">
                                            Burundi
                                        </option>
                                        <option value="KHM">
                                            Cambodia
                                        </option>
                                        <option value="CMR">
                                            Cameroon
                                        </option>
                                        <option value="CAN">
                                            Canada
                                        </option>
                                        <option value="CPV">
                                            Cape Verde
                                        </option>
                                        <option value="CYM">
                                            Cayman Islands
                                        </option>
                                        <option value="CAF">
                                            Central African Republic
                                        </option>
                                        <option value="TCD">
                                            Chad
                                        </option>
                                        <option value="CHL">
                                            Chile
                                        </option>
                                        <option value="CHN">
                                            China
                                        </option>
                                        <option value="CXR">
                                            Christmas Island
                                        </option>
                                        <option value="CCK">
                                            Cocos (Keeling) Islands
                                        </option>
                                        <option value="COL">
                                            Colombia
                                        </option>
                                        <option value="COM">
                                            Comoros
                                        </option>
                                        <option value="COG">
                                            Congo
                                        </option>
                                        <option value="COD">
                                            Congo, the Democratic Republic of the
                                        </option>
                                        <option value="COK">
                                            Cook Islands
                                        </option>
                                        <option value="CRI">
                                            Costa Rica
                                        </option>
                                        <option value="CIV">
                                            Cote d'Ivoire
                                        </option>
                                        <option value="HRV">
                                            Croatia
                                        </option>
                                        <option value="CUB">
                                            Cuba
                                        </option>
                                        <option value="CUW">
                                            Curacao
                                        </option>
                                        <option value="CYP">
                                            Cyprus
                                        </option>
                                        <option value="CZE">
                                            Czech Republic
                                        </option>
                                        <option value="DNK">
                                            Denmark
                                        </option>
                                        <option value="DJI">
                                            Djibouti
                                        </option>
                                        <option value="DMA">
                                            Dominica
                                        </option>
                                        <option value="DOM">
                                            Dominican Republic
                                        </option>
                                        <option value="ECU">
                                            Ecuador
                                        </option>
                                        <option value="EGY">
                                            Egypt
                                        </option>
                                        <option value="SLV">
                                            El Salvador
                                        </option>
                                        <option value="GNQ">
                                            Equatorial Guinea
                                        </option>
                                        <option value="ERI">
                                            Eritrea
                                        </option>
                                        <option value="EST">
                                            Estonia
                                        </option>
                                        <option value="ETH">
                                            Ethiopia
                                        </option>
                                        <option value="FLK">
                                            Falkland Islands (Malvinas)
                                        </option>
                                        <option value="FRO">
                                            Faroe Islands
                                        </option>
                                        <option value="FJI">
                                            Fiji
                                        </option>
                                        <option value="FIN">
                                            Finland
                                        </option>
                                        <option value="FRA">
                                            France
                                        </option>
                                        <option value="GUF">
                                            French Guiana
                                        </option>
                                        <option value="PYF">
                                            French Polynesia
                                        </option>
                                        <option value="ATF">
                                            French Southern Territories
                                        </option>
                                        <option value="GAB">
                                            Gabon
                                        </option>
                                        <option value="GMB">
                                            Gambia
                                        </option>
                                        <option value="GEO">
                                            Georgia
                                        </option>
                                        <option value="DEU">
                                            Germany
                                        </option>
                                        <option value="GHA">
                                            Ghana
                                        </option>
                                        <option value="GIB">
                                            Gibraltar
                                        </option>
                                        <option value="GRC">
                                            Greece
                                        </option>
                                        <option value="GRL">
                                            Greenland
                                        </option>
                                        <option value="GRD">
                                            Grenada
                                        </option>
                                        <option value="GLP">
                                            Guadeloupe
                                        </option>
                                        <option value="GUM">
                                            Guam
                                        </option>
                                        <option value="GTM">
                                            Guatemala
                                        </option>
                                        <option value="GGY">
                                            Guernsey
                                        </option>
                                        <option value="GIN">
                                            Guinea
                                        </option>
                                        <option value="GNB">
                                            Guinea-Bissau
                                        </option>
                                        <option value="GUY">
                                            Guyana
                                        </option>
                                        <option value="HTI">
                                            Haiti
                                        </option>
                                        <option value="HMD">
                                            Heard Island and McDonald Islands
                                        </option>
                                        <option value="VAT">
                                            Holy See (Vatican City State)
                                        </option>
                                        <option value="HND">
                                            Honduras
                                        </option>
                                        <option value="HKG">
                                            Hong Kong
                                        </option>
                                        <option value="HUN">
                                            Hungary
                                        </option>
                                        <option value="ISL">
                                            Iceland
                                        </option>
                                        <option value="IND">
                                            India
                                        </option>
                                        <option value="IDN">
                                            Indonesia
                                        </option>
                                        <option value="IRN">
                                            Iran, Islamic Republic of
                                        </option>
                                        <option value="IRQ">
                                            Iraq
                                        </option>
                                        <option value="IRL">
                                            Ireland
                                        </option>
                                        <option value="IMN">
                                            Isle of Man
                                        </option>
                                        <option value="ISR">
                                            Israel
                                        </option>
                                        <option value="ITA">
                                            Italy
                                        </option>
                                        <option value="JAM">
                                            Jamaica
                                        </option>
                                        <option value="JPN">
                                            Japan
                                        </option>
                                        <option value="JEY">
                                            Jersey
                                        </option>
                                        <option value="JOR">
                                            Jordan
                                        </option>
                                        <option value="KAZ">
                                            Kazakhstan
                                        </option>
                                        <option value="KEN">
                                            Kenya
                                        </option>
                                        <option value="KIR">
                                            Kiribati
                                        </option>
                                        <option value="PRK">
                                            Korea, Democratic People's Republic of
                                        </option>
                                        <option value="KOR">
                                            Korea, Republic of
                                        </option>
                                        <option value="XKX">
                                            Kosovo
                                        </option>
                                        <option value="KWT">
                                            Kuwait
                                        </option>
                                        <option value="KGZ">
                                            Kyrgyzstan
                                        </option>
                                        <option value="LAO">
                                            Lao People's Democratic Republic
                                        </option>
                                        <option value="LVA">
                                            Latvia
                                        </option>
                                        <option value="LBN">
                                            Lebanon
                                        </option>
                                        <option value="LSO">
                                            Lesotho
                                        </option>
                                        <option value="LBR">
                                            Liberia
                                        </option>
                                        <option value="LBY">
                                            Libyan Arab Jamahiriya
                                        </option>
                                        <option value="LIE">
                                            Liechtenstein
                                        </option>
                                        <option value="LTU">
                                            Lithuania
                                        </option>
                                        <option value="LUX">
                                            Luxembourg
                                        </option>
                                        <option value="MAC">
                                            Macao
                                        </option>
                                        <option value="MKD">
                                            Macedonia, the former Yugoslav Republic of
                                        </option>
                                        <option value="MDG">
                                            Madagascar
                                        </option>
                                        <option value="MWI">
                                            Malawi
                                        </option>
                                        <option value="MYS">
                                            Malaysia
                                        </option>
                                        <option value="MDV">
                                            Maldives
                                        </option>
                                        <option value="MLI">
                                            Mali
                                        </option>
                                        <option value="MLT">
                                            Malta
                                        </option>
                                        <option value="MHL">
                                            Marshall Islands
                                        </option>
                                        <option value="MTQ">
                                            Martinique
                                        </option>
                                        <option value="MRT">
                                            Mauritania
                                        </option>
                                        <option value="MUS">
                                            Mauritius
                                        </option>
                                        <option value="MYT">
                                            Mayotte
                                        </option>
                                        <option value="MEX">
                                            Mexico
                                        </option>
                                        <option value="FSM">
                                            Micronesia, Federated States of
                                        </option>
                                        <option value="MDA">
                                            Moldova, Republic of
                                        </option>
                                        <option value="MCO">
                                            Monaco
                                        </option>
                                        <option value="MNG">
                                            Mongolia
                                        </option>
                                        <option value="MNE">
                                            Montenegro
                                        </option>
                                        <option value="MSR">
                                            Montserrat
                                        </option>
                                        <option value="MAR">
                                            Morocco
                                        </option>
                                        <option value="MOZ">
                                            Mozambique
                                        </option>
                                        <option value="MMR">
                                            Myanmar
                                        </option>
                                        <option value="NAM">
                                            Namibia
                                        </option>
                                        <option value="NRU">
                                            Nauru
                                        </option>
                                        <option value="NPL">
                                            Nepal
                                        </option>
                                        <option value="NLD">
                                            Netherlands
                                        </option>
                                        <option value="ANT">
                                            Netherlands Antilles
                                        </option>
                                        <option value="NCL">
                                            New Caledonia
                                        </option>
                                        <option value="NZL">
                                            New Zealand
                                        </option>
                                        <option value="NIC">
                                            Nicaragua
                                        </option>
                                        <option value="NER">
                                            Niger
                                        </option>
                                        <option value="NGA">
                                            Nigeria
                                        </option>
                                        <option value="NIU">
                                            Niue
                                        </option>
                                        <option value="NFK">
                                            Norfolk Island
                                        </option>
                                        <option value="MNP">
                                            Northern Mariana Islands
                                        </option>
                                        <option value="NOR">
                                            Norway
                                        </option>
                                        <option value="OMN">
                                            Oman
                                        </option>
                                        <option value="PAK">
                                            Pakistan
                                        </option>
                                        <option value="PLW">
                                            Palau
                                        </option>
                                        <option value="PSE">
                                            Palestinian Territory, Occupied
                                        </option>
                                        <option value="PAN">
                                            Panama
                                        </option>
                                        <option value="PNG">
                                            Papua New Guinea
                                        </option>
                                        <option value="PRY">
                                            Paraguay
                                        </option>
                                        <option value="PER">
                                            Peru
                                        </option>
                                        <option value="PHL">
                                            Philippines
                                        </option>
                                        <option value="PCN">
                                            Pitcairn
                                        </option>
                                        <option value="POL">
                                            Poland
                                        </option>
                                        <option value="PRT">
                                            Portugal
                                        </option>
                                        <option value="PRI">
                                            Puerto Rico
                                        </option>
                                        <option value="QAT">
                                            Qatar
                                        </option>
                                        <option value="REU">
                                            Reunion
                                        </option>
                                        <option value="ROU">
                                            Romania
                                        </option>
                                        <option value="RUS">
                                            Russian Federation
                                        </option>
                                        <option value="RWA">
                                            Rwanda
                                        </option>
                                        <option value="BLM">
                                            Saint Barthelemy
                                        </option>
                                        <option value="SHN">
                                            Saint Helena
                                        </option>
                                        <option value="KNA">
                                            Saint Kitts and Nevis
                                        </option>
                                        <option value="LCA">
                                            Saint Lucia
                                        </option>
                                        <option value="MAF">
                                            Saint Martin (French part)
                                        </option>
                                        <option value="SPM">
                                            Saint Pierre and Miquelon
                                        </option>
                                        <option value="VCT">
                                            Saint Vincent and the Grenadines
                                        </option>
                                        <option value="WSM">
                                            Samoa
                                        </option>
                                        <option value="SMR">
                                            San Marino
                                        </option>
                                        <option value="STP">
                                            Sao Tome and Principe
                                        </option>
                                        <option value="SAU">
                                            Saudi Arabia
                                        </option>
                                        <option value="SEN">
                                            Senegal
                                        </option>
                                        <option value="SRB">
                                            Serbia
                                        </option>
                                        <option value="SYC">
                                            Seychelles
                                        </option>
                                        <option value="SLE">
                                            Sierra Leone
                                        </option>
                                        <option value="SGP">
                                            Singapore
                                        </option>
                                        <option value="SXM">
                                            Sint Maarten
                                        </option>
                                        <option value="SVK">
                                            Slovakia
                                        </option>
                                        <option value="SVN">
                                            Slovenia
                                        </option>
                                        <option value="SLB">
                                            Solomon Islands
                                        </option>
                                        <option value="SOM">
                                            Somalia
                                        </option>
                                        <option value="ZAF">
                                            South Africa
                                        </option>
                                        <option value="SGS">
                                            South Georgia and the South Sandwich Islands
                                        </option>
                                        <option value="SSD">
                                            South Sudan
                                        </option>
                                        <option value="ESP">
                                            Spain
                                        </option>
                                        <option value="LKA">
                                            Sri Lanka
                                        </option>
                                        <option value="SDN">
                                            Sudan
                                        </option>
                                        <option value="SUR">
                                            Suriname
                                        </option>
                                        <option value="SJM">
                                            Svalbard and Jan Mayen
                                        </option>
                                        <option value="SWZ">
                                            Swaziland
                                        </option>
                                        <option value="SWE">
                                            Sweden
                                        </option>
                                        <option value="CHE">
                                            Switzerland
                                        </option>
                                        <option value="SYR">
                                            Syrian Arab Republic
                                        </option>
                                        <option value="TWN">
                                            Taiwan
                                        </option>
                                        <option value="TJK">
                                            Tajikistan
                                        </option>
                                        <option value="TZA">
                                            Tanzania, United Republic of
                                        </option>
                                        <option value="THA">
                                            Thailand
                                        </option>
                                        <option value="TLS">
                                            Timor-Leste
                                        </option>
                                        <option value="TGO">
                                            Togo
                                        </option>
                                        <option value="TKL">
                                            Tokelau
                                        </option>
                                        <option value="TON">
                                            Tonga
                                        </option>
                                        <option value="TTO">
                                            Trinidad and Tobago
                                        </option>
                                        <option value="TUN">
                                            Tunisia
                                        </option>
                                        <option value="TUR">
                                            Turkey
                                        </option>
                                        <option value="TKM">
                                            Turkmenistan
                                        </option>
                                        <option value="TCA">
                                            Turks and Caicos Islands
                                        </option>
                                        <option value="TUV">
                                            Tuvalu
                                        </option>
                                        <option value="UGA">
                                            Uganda
                                        </option>
                                        <option value="UKR">
                                            Ukraine
                                        </option>
                                        <option value="ARE">
                                            United Arab Emirates
                                        </option>
                                        <option value="GBR">
                                            United Kingdom
                                        </option>
                                        <option value="USA">
                                            United States
                                        </option>
                                        <option value="UMI">
                                            United States Minor Outlying Islands
                                        </option>
                                        <option value="URY">
                                            Uruguay
                                        </option>
                                        <option value="UZB">
                                            Uzbekistan
                                        </option>
                                        <option value="VUT">
                                            Vanuatu
                                        </option>
                                        <option value="VEN">
                                            Venezuela
                                        </option>
                                        <option value="VNM">
                                            Viet Nam
                                        </option>
                                        <option value="VGB">
                                            Virgin Islands, British
                                        </option>
                                        <option value="VIR">
                                            Virgin Islands, U.S.
                                        </option>
                                        <option value="WLF">
                                            Wallis and Futuna
                                        </option>
                                        <option value="ESH">
                                            Western Sahara
                                        </option>
                                        <option value="YEM">
                                            Yemen
                                        </option>
                                        <option value="ZMB">
                                            Zambia
                                        </option>
                                        <option value="ZWE">
                                            Zimbabwe
                                        </option>
                                    </select>
                                </div>
                                <a class="tooltip" id="tooltip-creditCardCountry" href="#">
                                    <span class="tooltip-text" id="tooltip-text-creditCardCountry"></span>
                                </a>
                                <div id="error-creditCardCountry" for="field_creditCardCountry" class="error-field"><span *ngIf="submitted && paymentForm.controls.cardCountry.errors?.required">Country is required</span></div>
                            </div>
                            <div class="form-group" id="form-group-creditCardState">
                                <label class="form-label required" id="form-label-creditCardState" for="input-creditCardState">
                                    State
                                </label>
                                <div class="form-element required" id="form-element-creditCardState">
                                    <span id="creditcard-text-state">
                                        <input encrypt="false" type="text" id="input-creditCardState" value="" class="text-input " name="field_creditCardState" maxlength="50" aria-required="true" aria-describedby="error-creditCardState" formControlName="cardState" required>
                                    </span>
                                </div>
                                <a class="tooltip" id="tooltip-creditCardState" href="#">
                                    <span class="tooltip-text" id="tooltip-text-creditCardState"></span>
                                </a>
                                <div id="error-creditCardState" for="field_creditCardState" class="error-field"><span *ngIf="submitted && paymentForm.controls.cardState.errors?.required">State is required</span></div>
                            </div>
                            <div class="form-group" id="form-group-creditCardAddress1">
                                <label class="form-label required" id="form-label-creditCardAddress1" for="input-creditCardAddress1">
                                    Address 1
                                </label>
                                <div class="form-element required" id="form-element-creditCardAddress1">
                                    <input type="text" id="input-creditCardAddress1" value="" class="text-input" name="field_creditCardAddress1" maxlength="255" encrypt="false" aria-required="true" aria-describedby="error-creditCardAddress1" formControlName="cardAddress" required>
                                </div>
                                <a class="tooltip" id="tooltip-creditCardAddress1" href="#">
                                    <span class="tooltip-text" id="tooltip-text-creditCardAddress1"></span>
                                </a>
                                <div id="error-creditCardAddress1" for="field_creditCardAddress1" class="error-field"><span *ngIf="submitted && paymentForm.controls.cardAddress.errors?.required">Address is required</span></div>
                            </div>
                            <div class="form-group" id="form-group-creditCardCity">
                                <label class="form-label required" id="form-label-creditCardCity" for="input-creditCardCity">
                                    City
                                </label>
                                <div class="form-element required" id="form-element-creditCardCity">
                                    <input type="text" id="input-creditCardCity" value="" class="text-input" name="field_creditCardCity" maxlength="40" encrypt="false" aria-required="true" aria-describedby="error-creditCardCity" formControlName="cardCity" required>
                                </div>
                                <a class="tooltip" id="tooltip-creditCardCity" href="#">
                                    <span class="tooltip-text" id="tooltip-text-creditCardCity"></span>
                                </a>
                                <div id="error-creditCardCity" for="field_creditCardCity" class="error-field"><span *ngIf="submitted && paymentForm.controls.cardCity.errors?.required">Country is required</span></div>
                            </div>
                            <div class="form-group" id="form-group-phone">
                                <label class="form-label required" id="form-label-phone" for="input-phone">
                                    Contact Phone Number
                                </label>
                                <div class="form-element required" id="form-element-phone">
                                    <input type="text" id="input-phone" value="" class="text-input" name="field_phone" maxlength="40" encrypt="false" aria-required="true" aria-describedby="error-phone" formControlName="cardPhoneNum" required>
                                </div>
                                <a class="tooltip" id="tooltip-phone" href="#">
                                    <span class="tooltip-text" id="tooltip-text-phone"></span>
                                </a>
                                <div id="error-phone" for="field_phone" class="error-field"><span *ngIf="(submitted || f.cardPhoneNum.dirty || f.cardPhoneNum.touched)&& paymentForm.controls.cardPhoneNum.errors">Invalid Phone Number</span></div>
                            </div>
                            <div class="form-group" id="form-group-email">
                                <label class="form-label required" id="form-label-email" for="input-email">
                                    Email Address
                                </label>
                                <div class="form-element required" id="form-element-email">
                                    <input type="text" id="input-email" value="" class="text-input" name="field_email" maxlength="80" encrypt="false" aria-required="true" aria-describedby="error-email" formControlName="cardEmailAdd" required>
                                </div>

                                <a class="tooltip" id="tooltip-email" href="#">
                                    <span class="tooltip-text" id="tooltip-text-email"></span>
                                </a>
                                <div id="error-email" for="field_email" class="error-field"><span *ngIf="(submitted || f.cardEmailAdd.dirty || f.cardEmailAdd.touched)&& paymentForm.controls.cardEmailAdd.errors">Invalid Email Address</span></div>
                            </div>

                            <div class="form-element required" id="form-element-email">
                                &nbsp;= Required Field
                            </div>

                        </div>
                        <!--end of payment form-->
                        <div class="form-group pt-3 d-flex justify-content-end col-md-12 pr-0">
                                <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- End of basic customer details -->