<div class="row">
   <div class="form-group col-12 col-md-9">
        <p>Please tell us where you’d like us to expand next and we’ll inform you once we do.</p>
    </div> 
    
	 <div class="form-group col-12">
        <label>Building:</label>
        <input type="text" class="form-control" #wishListBuilding/>
      
    </div>
	 <div class="form-group col-6">
        <label>City:</label>
        <input type="text" class="form-control" #wishListCity/>
      
    </div>
	 <div class="form-group col-6">
        <label>State:</label>
        <input type="text" class="form-control" #wishListState/>
       
    </div>
	<div class="form-group col-6">
        <label>Name:</label>
        <input type="text" class="form-control" #wishListName/> 
      
    </div>
    <div class="form-group col-6">
        <label>Email:</label>
        <input type="text" class="form-control" #wishListEmail/> 
    </div>
	
    
</div>
  <div class="form-group pt-3 d-flex justify-content-end col-md-12 pr-0">
            <button class="btn btn-danger py-1 px-5" (click)="hideWishList()">Cancel</button> &nbsp; &nbsp;<button class="btn btn-danger py-1 px-5" (click)="displayWishList()">Submit</button>
        </div>