<!-- {{previewInfo | json}} -->
<div class="row py-0">
  <div class="col-sm-12">
    <h3>Order Summary</h3>
  </div>
</div>
<div class="row py-0">
    <div class="col-sm-12">
      <label for=""><strong>One-time charges</strong></label>
      <div *ngFor="let otc of previewInfo?.onetime?.items; let i=index">
        <div class="d-flex product-item">
          <div class="pl-0 product-label col-9">{{otc.name}}</div>
          <div class="ml-auto product-price col-3 text-right">{{otc.price}}</div>
        </div> 
      </div>
      <div class="d-flex product-item border-top py-1">
          <div class="pl-0 ml-auto product-price col-8"><strong>One-time Total</strong></div>
          <div class="ml-auto product-price col-4 text-right">RM{{ previewInfo?.onetime?.oneTimeTotal}}</div>
      </div>
   </div>
</div>

<div class="row py-0 pt-2">
    <div class="col-sm-12">
        <label for=""><strong>Monthly charges</strong></label>
        <div *ngFor="let monthly of previewInfo?.monthly?.items; let i=index">
          <div class="d-flex product-item">
            <div class="pl-0 product-label col-9">{{monthly.name}}</div>
            <div class="ml-auto product-price col-3 text-right">{{monthly.price}}</div>
          </div> 
        </div>
        <div class="d-flex product-item border-top py-1">
            <div class="pl-0 ml-auto product-price col-8"><strong>Monthly Total</strong></div>
            <div class="ml-auto product-price col-4 text-right">RM{{ previewInfo?.monthly?.monthyTotal}}</div>
        </div>
     </div>
</div>

<div class="row py-0 pt-4 pb-2">
    <div class="col-sm-12">
      <div class="d-flex product-item border-top py-1">
        <div class="pl-0 product-label col-9"><strong>Total</strong></div>
        <div class="ml-auto product-price col-3 text-right">RM{{ previewInfo?.totalPrice}}</div>
      </div>
  </div>
</div>