<!-- Start of basic customer details -->
<div class="container-fluid sub-header">
  <div class="container pt-3 pb-2">
      <div class="row">
        <div class="col px-0">
            <h1>Success!</h1>
        </div>
      </div>
  </div>
</div>

<div id="results" class="container">
  <div class="row">
    <div class="col-12 text-center">
      <app-success></app-success>
    </div>
  </div>
</div>