<div class="row py-0">
    <div class="col-sm-12">
      <label class="mb-0" for="firstName"><strong>First Name</strong></label>
      <div id="firstName" class="d-block">{{previewInfo?.firstname}}</div>
    </div>
  </div>
  <div class="row py-0 pt-2">
      <div class="col-sm-12">
        <label class="mb-0" for="lastName"><strong>Last Name</strong></label>
        <div id="lastName" class="d-block">{{previewInfo?.lastname}}</div>
    </div>
  </div>
  
  <div class="row py-0 pt-2">
      <div class="col-sm-12">
        <label class="mb-0" for="nric"><strong>NRIC/Passport</strong></label>
        <div id="nric" class="d-block">{{previewInfo?.nric}}</div>
    </div>
  </div>
  <div class="row py-0 pt-2">
      <div class="col-sm-12">
        <label class="mb-0" for="gender"><strong>Gender</strong></label>
        <div id="gender" class="d-block">{{previewInfo?.gender}}</div>
    </div>
  </div>
  
  <div class="row py-0 pt-2">
      <div class="col-sm-12">
        <label class="mb-0" for="dob"><strong>Date of Birth</strong></label>
        <div id="dob" class="d-block">{{previewInfo?.birthdate}}</div>
    </div>
  </div>
  
  <div class="row py-0 pt-2">
      <div class="col-sm-12">
        <label class="mb-0" for="nationality"><strong>Nationality</strong></label>
        <div id="nationality" class="d-block">{{previewInfo?.nationality}}</div>
    </div>
  </div>
  
  <div class="row py-0 pt-2">
      <div class="col-sm-12">
        <label class="mb-0" for="email"><strong>Email</strong></label>
        <div id="email" class="d-block">{{previewInfo?.email}}</div>
    </div>
  </div>
   
  <div class="row py-0 pt-2">
      <div class="col-sm-12">
        <label class="mb-0" for="postal-code"><strong>Address</strong></label>
        <div id="postal-code" class="d-block">{{previewInfo?.address}}</div>
    </div>
  </div>
  
  <div class="row py-0 pt-2">
      <div class="col-sm-12">
        <label class="mb-0" for="remarks"><strong>Remarks</strong></label>
        <div id="remarks" class="d-block">{{previewInfo?.remarks}}</div>
    </div>
  </div> 
 