
<div class="container-fluid sub-header">
  <div class="row plan-selection">
    <div class="col-sm px-0"> 
      <div class="selectedPlan">
          <div class="row mx-0 pt-2 pb-2 pt-md-4  d-flex align-items-center">
            <div class="col-4 pb-2 pb-md-4 router pt-1">
              <img src="{{planImage}}" alt="Selected Router" class="img-fluid d-block mx-auto w-100 selected-device">
            </div>
            <div class="col-6 col-sm-5 px-0 plan">
              <span class="current-label d-block">Current Plan:</span>
              <span class="current-plan">{{planTitle}}</span> 
              <span class="plan-speed">({{planSpeed}})</span>
              <div class="row">
                <div class="col-9 pr-0">
                  <span class="current-price">${{planPrice}}</span>
                  <span class="current-term pl-1">{{planPayment}} <br> ({{planTerm}})</span>
                </div>
              </div>
              <span class="more px-3 py-0" (click)="moreDetails(content, true);">More details</span>
            </div>
            <div class="col-2 pl-0 pt-1 ml-md-3">
              <img src="./../../../../assets/img/current-free.png" alt="Free 3 months" class="img-fluid d-block current-free"> 
            </div>
          </div>
        </div> 
      <div class="accordion" id="planSummary">
        <div class="card container px-0">
          <div class="card-header p-1" id="seePlans">
            <h5 class="mb-0">
              <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#planDetails" aria-expanded="false" aria-controls="planDetails">
                Changing your mind? See All plans here.  <i class="fa float-right" aria-hidden="true"></i>
              </button>
            </h5>
          </div>
          <div id="planDetails" class="collapse" aria-labelledby="seePlans" data-parent="#planSummary">
            <div class="card-body p-0">
            
              <div class="otherPlan pt-2 pb-4">
                <div class="row mx-0">
                  <div class="row mx-0 d-block w-100">
                    <div class="col">
                      <!--Change Plan modal-->
                      <ng-template #content let-modal>
                        <div class="container">
                          <div class="modal-header row pb-0">
                            <h4 class="plan-title d-block w-100 text-center">{{planTitle}}</h4>
                            <h2 class="plan-speed d-block w-100 text-center mb-0 mt-2">{{planSpeed}}</h2>
                            <div class="row mx-0 w-100 text-center">
                              <div class="col-12">
                                <span class="plan-price pl-5">${{planPrice}}</span>
                                <span class="plan-term pl-1">{{planPayment}} <br> {{planTerm}}</span>
                              </div>
                            </div>
                            <h5 class="plan-special mx-auto py-1 px-3 mt-2">{{planSpecial}}</h5>
                            <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                              <span aria-hidden="true">&times;</span>
                            </button> -->
                          </div>
                          <div class="modal-body pt-2 pb-0 px-0">
                            <ul class="freebies p-0 mb-0">
                              <li *ngFor="let freebies of planFreebies; let i=index"  class="py-1 freebies-{{i}}">
                                <div class="d-inline-block w-90">{{freebies.label}}</div>
                                <div class="d-inline-block float-right price-modal">{{freebies.price}}</div>
                              </li>
                            </ul>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn mx-auto py-0 px-5 mt-3" (click)="selectPlan(planKey)">Close</button>
                          </div>
                        </div>
                      </ng-template>
                      <!--Change Plan modal-->
                      <span class="plan-label d-block pb-2">Choose Plan</span>
                      <swiper [config]="config" class="d-block w-100">
                        <div class="swiper-wrapper">
                          <div *ngFor="let slide of plansData; let i=index" class="plan-slide swiper-slide mx-2 px-1 pb-1 pb-md-2"  (click)="changePlan(content, i, plansData, true);" [class.active-plan]="selectedItem == i" 
                          [ngClass]="{ 'd-none': slide.planParent == 0 || slide.speed == '2Gbps'}">
                            <span class="plan-free d-block mx-auto pt-2 pb-md-2 font-weight-bold">{{ slide.name }}</span>
                            <img src="{{ slide.image }}" class="img-fluid w-75 align-middle">
                            <span class="plan-speed d-block mx-auto w-75">{{ slide.speed }}</span>
                            <span class="plan-price d-block mx-auto">${{ slide.price }}</span>
                            <span class="plan-terms position-relative d-block mx-auto">{{ slide.terms }}</span>
                          </div>
                        </div> 
                        <div class="swiper-pagination"></div>
                      </swiper>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container pt-3 pb-2">
      <div class="row">
        <div class="col-12 px-0">
            <h1>Yay! You are just 3 steps away.</h1>
            <!-- <div class="w-25 border-spacer my-2"></div> -->
            <p class="pt-1"> Let’s finalise your plan. Make sure to select an option in every step below.</p>
        </div>
      </div>
  </div>
</div>
<!-- Start of basic customer details -->
<div id="plan-details" class="container" [formGroup]="planDetailsForm" novalidate> 
  <input type="hidden" id="planKey" name="planKey" formControlName="planKey" value="{{planKey}}">
  <div class="row plan-vas" style="display: none;">
      <div class="col-sm">
        <p class="step mb-0">Step 1</p>
        <p class="step-subtitle mb-2">Do you want to boost your plan?</p> 
        <div class="row mx-0">
          <div class="col-4 col-md-3 boost-image d-flex align-items-center pr-0">
              <img src="./../../../../assets/img/2gbps-logo.png" alt="Free 3 months" class="img-fluid d-block mx-auto a"> 
          </div>
          <div class="col-8 col-lg-5 boost-price pt-md-5">
            <div class="d-block">
                <span class="boost-free d-block">Double your speed for only</span>
                <span class="boost-free-price d-block"  [innerHTML]="priceDiff"></span>
                <span class="boost-free d-block">Boost also comes with free OneVoice for 24 mth.</span>
            </div>
            <div class="row mx-0">
              <div class="col-6 col-md-6 pl-0 position-relative">
                  <div class=" mt-2 cube cube-yes" #upgradedPlanYes>
                    <div class="front" (click)="upgradePlan(planChild, plansData, true)">Yes</div>
                    <div class="bottom"> Boosted</div>
                  </div>
              </div>
              <div class="col-6 col-md-6 pl-0 position-relative">
                  <div class=" mt-2 cube cube-no" #upgradedPlanNo>
                    <div class="front" (click)="upgradePlan(planParent, plansData, false)">No</div>
                    <div class="bottom"> Next time</div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="row plan-routers  pt-4">
    <div class="col-sm"> 
      <app-plan-router (formReady)="formInitialized('router', $event)" [routers]="planRouters" [planFormSubmitted]="planFormSubmitted"></app-plan-router> 
    </div>
  </div>
  <div class="row plan-vas pt-4">
    <div class="col-sm">
      <app-plan-vas (formReady)="formInitialized('vas', $event)" [onevoice]="planOnevoice" [nondisplay]="planNonDisplay" [fibreguard]="planFibreGuard" [installation]="planInstallation" [addon]="planAddOn" [boost]="planBoost" [resetFormData]="isReset" [planFormSubmitted]="planFormSubmitted" [fdns]="planFdns" [upgrade]=upgrade></app-plan-vas>
    </div>
  </div>
  <div class="row remarks pt-4">
    <div class="col-sm">
      <app-plan-remarks (formReady)="formInitialized('remarks', $event)"></app-plan-remarks>
    </div>
  </div>
  <div class="row pt-4">
    <div class="form-group pt-3 d-flex justify-content-end col-sm-12">
        <button class="btn btn-danger py-1 px-5" (click)="nextButton()">Next</button>
    </div>
  </div>
</div> 
<!-- End of basic customer details -->
