
<div class="row" [formGroup]="basicForm">
    <div class="form-group col-12" [class.col-md-9]="!isLongForm" [class.col-md-6]="isLongForm">
        <label>First Name (As per NRIC/Passport):</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': (shortFormSubmitted || f.firstName.dirty || f.firstName.touched) && f.firstName.errors, 'is-valid': !f.firstName.errors }" />
        <div *ngIf="(shortFormSubmitted || f.firstName.dirty || f.firstName.touched) && f.firstName.errors" class="invalid-feedback">
            <ng-container *ngFor="let validation of validation_message.firstName">
                <div *ngIf="f.firstName.hasError(validation.type)">{{validation.message}}</div>
            </ng-container>
        </div>
    </div>
    <div class="form-group col-12" [class.col-md-9]="!isLongForm" [class.col-md-6]="isLongForm">
        <label>Last Name (As per NRIC/Passport):</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{'is-invalid': (shortFormSubmitted || f.lastName.dirty || f.lastName.touched) && f.lastName.errors, 'is-valid': !f.lastName.errors}"/> 
        <div *ngIf="(shortFormSubmitted || f.lastName.dirty || f.lastName.touched) && f.lastName.errors" class="invalid-feedback">
            <ng-container *ngFor="let validation of validation_message.lastName">
                <div *ngIf="f.lastName.hasError(validation.type)">{{validation.message}}</div>
            </ng-container>
        </div>
    </div>
    <div class="form-group col-12" [class.col-md-9]="!isLongForm" [class.col-md-6]="isLongForm">
        <label>Email:</label>
        <input type="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid': (shortFormSubmitted || f.email.dirty || f.email.touched) && f.email.errors, 'is-valid': !f.email.errors}"/> 
        <div *ngIf="(shortFormSubmitted || f.email.dirty || f.email.touched) && f.email.errors" class="invalid-feedback">
            <ng-container *ngFor="let validation of validation_message.email">
                <div *ngIf="f.email.hasError(validation.type)">{{validation.message}}</div>
            </ng-container>
        </div>
    </div>
    <div class="form-group col-12" [class.col-md-9]="!isLongForm" [class.col-md-6]="isLongForm">
        <label>Mobile: <span *ngIf="!isLongForm">(Optional)</span></label>
        <input type="tel" formControlName="mobile" class="form-control" [ngClass]="{'is-invalid': (shortFormSubmitted || shortFormSubmitted || f.mobile.dirty || f.mobile.touched) && f.mobile.errors, 'is-valid':  (shortFormSubmitted  || shortFormSubmitted || f.mobile.touched) && !f.mobile.errors}"/>
        <div *ngIf="(shortFormSubmitted || shortFormSubmitted || f.mobile.touched) && f.mobile.errors" class="invalid-feedback"> 
            <ng-container *ngFor="let validation of validation_message.mobile">
                <div *ngIf="f.mobile.hasError(validation.type)">{{validation.message}}</div>
            </ng-container>
        </div>
    </div>
    <div *ngIf="IsRefer && !isLongForm" class="form-group col-12 col-md-9">
        <label>Promoter Name:</label>
        <select class="form-control" name="promoterName" id="promoterName" formControlName="promoterName" [ngClass]="{'is-invalid': (shortFormSubmitted || f.promoterName.dirty || f.promoterName.touched) && f.promoterName.errors, 'is-valid': !f.promoterName.errors}" > 
            <option value="Ann Tracy">VQ01</option>
            <option value="Clifford Zhang">VQ02</option>
            <option value="Farah">VQ03</option>
            <option value="Husaini Azmi">VQ04</option>
            <option value="Kartini">VQ05</option>
            <option value="Koh Ziliang">VQ06</option>
            <option value="Pearly Chow">VQ07</option> 
            <option value="Timothy Chia">VQ09</option>
            <option id="otherPromoter" value="Others">Others</option>
         </select>
         <div *ngIf="(shortFormSubmitted || f.promoterName.dirty || f.promoterName.touched) && f.promoterName.errors" class="invalid-feedback"> 
            <ng-container *ngFor="let validation of validation_message.promoter">
                <div *ngIf="f.promoterName.hasError(validation.type)">{{validation.message}}</div>
            </ng-container>
        </div> 
       <div *ngIf="f.promoterName.value == 'Others'" class="others pt-3"> 
        <label>Other Promoter Name:</label>
        
            <input type="text" class="form-control" id="otherPromoter" name="otherPromoter" formControlName="otherPromoter" [ngClass]="{'is-invalid': (shortFormSubmitted || f.otherPromoter.dirty || f.otherPromoter.touched) && (f.otherPromoter.errors && f.promoterName.value == 'Others'), 'is-valid': !f.otherPromoter.errors && f.promoterName.value == 'Others'}" /> 
            <div *ngIf="(shortFormSubmitted || f.otherPromoter.dirty || f.otherPromoter.touched) && (f.otherPromoter.errors && f.promoterName.value == 'Others')" class="invalid-feedback"> 
                <ng-container *ngFor="let validation of validation_message.others">
                    <div *ngIf="f.otherPromoter.hasError(validation.type)">{{validation.message}}</div>
                </ng-container>
            </div>
       </div>
      
    </div> 
    <ng-container *ngIf="isLongForm">
        <div class="form-group col-12" [class.col-sm-6]="isLongForm">
            <label>Date of Birth:</label>
            <input class="form-control" type="date" id="birthdate" formControlName="dob" [max]="minDate()" [ngClass]="{'is-invalid': (shortFormSubmitted || f.dob.dirty || f.dob.touched) && f.dob.errors, 'is-valid': !f.dob.errors}" />
            <div *ngIf="(shortFormSubmitted || f.dob.dirty || f.dob.touched) && f.dob.errors" class="invalid-feedback">
                <div *ngIf="f.dob.errors">Birthdate must be valid</div>
            </div>
        </div>
        <div class="form-group col-12" [class.col-sm-6]="isLongForm">
            <label>Gender:</label>
            <select class="form-control" name="gender" id="gender" formControlName="gender" [ngClass]="{'is-invalid': (shortFormSubmitted || f.gender.dirty || f.gender.touched) && f.gender.errors, 'is-valid': !f.gender.errors}">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <div *ngIf="(shortFormSubmitted || f.gender.dirty || f.gender.touched) && f.gender.errors" class="invalid-feedback">
                <ng-container *ngFor="let validation of validation_message.gender">
                    <div *ngIf="f.gender.hasError(validation.type)">{{validation.message}}</div>
                </ng-container>
            </div>
        </div>
        <div class="form-group col-12" [class.col-sm-6]="isLongForm">
            <label>Nationality:</label>
            <select class="form-control" name="nationality" id="nationality" formControlName="nationality" [ngClass]="{'is-invalid': (shortFormSubmitted || f.nationality.dirty || f.nationality.touched) && f.nationality.errors, 'is-valid': !f.nationality.errors}">
                <option *ngFor="let value of nationalityData" [value]="value">{{ value }}</option>
            </select>
            <div *ngIf="(shortFormSubmitted || f.nationality.dirty || f.nationality.touched) && f.nationality.errors" class="invalid-feedback">
                <ng-container *ngFor="let validation of validation_message.nationality">
                    <div *ngIf="f.nationality.hasError(validation.type)">{{validation.message}}</div>
                </ng-container>
            </div>
        </div>
        <div class="form-group col-12" [class.col-sm-6]="isLongForm">
            <label>NRIC/Passport:</label>
            <input class="form-control" type="text" name="nriNo" id="nriNo" formControlName="nricno" [ngClass]="{'is-invalid': (shortFormSubmitted || f.nricno.dirty || f.nricno.touched) && f.nricno.errors, 'is-valid': !f.nricno.errors}" />
            <div *ngIf="(shortFormSubmitted || f.nricno.dirty || f.nricno.touched) && f.nricno.errors" class="invalid-feedback">
                <ng-container *ngFor="let validation of validation_message.nric">
                    <div *ngIf="f.nricno.hasError(validation.type)">{{validation.message}}</div>
                </ng-container>
            </div>
        </div>
        <!--<div class="form-group col-12" [class.col-sm-6]="isLongForm">
            <label>Postal Code:</label>
            <input class="form-control" type="text" name="postalCode" id="postalCode" formControlName="postalcode" [ngClass]="{'is-invalid': (shortFormSubmitted || f.postalcode.dirty || f.postalcode.touched) && f.postalcode.errors, 'is-valid': !f.postalcode.errors}" />
            <div *ngIf="(shortFormSubmitted || f.postalcode.dirty || f.postalcode.touched) && f.postalcode.errors" class="invalid-feedback">
                <ng-container *ngFor="let validation of validation_message.postalcode">
                    <div *ngIf="f.postalcode.hasError(validation.type)">{{validation.message}}</div>
                </ng-container>
            </div>
        </div>
        <div class="form-group col-6" [class.col-sm-3]="isLongForm">
        <label>Floor Level:</label>
        <input class="form-control" type="text" name="floorNo" id="floorNo" formControlName="floorno"[ngClass]="{'is-invalid': (shortFormSubmitted || f.floorno.dirty || f.floorno.touched) && f.floorno.errors, 'is-valid': (shortFormSubmitted || f.floorno.dirty || f.floorno.touched) && !f.floorno.errors}"/>
        <div *ngIf="(shortFormSubmitted || f.floorno.dirty || f.floorno.touched) && f.floorno.errors" class="invalid-feedback">
            <ng-container *ngFor="let validation of validation_message.floorno">
                <div *ngIf="f.floorno.hasError(validation.type)">{{validation.message}}</div>
            </ng-container>
        </div>
    </div>
    <div class="form-group col-6" [class.col-sm-3]="isLongForm">
        <label>Unit Number:</label>
        <input class="form-control" type="text" name="unitNo" id="unitNo" formControlName="unitno" [ngClass]="{'is-invalid': (shortFormSubmitted || f.unitno.dirty || f.unitno.touched) && f.unitno.errors, 'is-valid': (shortFormSubmitted || f.unitno.dirty || f.unitno.touched) && !f.unitno.errors}"/>
        <div *ngIf="(shortFormSubmitted || f.unitno.dirty || f.unitno.touched) && f.unitno.errors" class="invalid-feedback">
            <ng-container *ngFor="let validation of validation_message.unitno">
                <div *ngIf="f.unitno.hasError(validation.type)">{{validation.message}}</div>
            </ng-container>
        </div>
    </div>-->
        <div class="form-group col-12" [class.col-sm-6]="isLongForm">
            <div class="col-12 px-0">
                <label>Upload NRIC/Passport(Front)</label>
                <div class="custom-file">
                    <input type="file" name="nricfront" class="custom-file-input form-control-lg  p-0" id="nricFront" accept="image/*" (change)="onNRICFrontUpload($event)" [ngClass]="{'is-invalid': (shortFormSubmitted || f.nricfront.dirty || f.nricfront.touched) && f.nricfront.errors, 'is-valid': !f.nricfront.errors}" />
                    <label id="labelFront" class="custom-file-label" for="inputGroupFile01">{{labelFront}}</label>
                    <div *ngIf="(shortFormSubmitted || f.nricfront.dirty || f.nricfront.touched) && f.nricfront.errors" class="invalid-feedback">
                        <input type="hidden" name="fileHidden" formControlName="nricfront" />
                        <ng-container *ngFor="let validation of validation_message.nricfront">
                            <div *ngIf="f.nricfront.hasError(validation.type)">{{validation.message}}</div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-12" [class.col-sm-6]="isLongForm">
            <div class="col-12 px-0">
                <label>Upload NRIC/Passport(Back)</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input form-control" id="nricBack" accept="image/*" (change)="onNRICBackUpload($event)" [ngClass]="{'is-invalid': (shortFormSubmitted || f.nricback.dirty || f.nricback.touched) && f.nricback.errors, 'is-valid': !f.nricback.errors}" />
                    <input type="hidden" name="fileHidden" formControlName="nricback" />
                    <label id="labelBack" class="custom-file-label" for="inputGroupFile01">{{labelBack}}</label>
                    <div *ngIf="(shortFormSubmitted || f.nricback.dirty || f.nricback.touched) && f.nricback.errors" class="invalid-feedback">
                        <ng-container *ngFor="let validation of validation_message.nricback">
                            <div *ngIf="f.nricback.hasError(validation.type)">{{validation.message}}</div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="form-group col-12" [class.col-sm-6]="isLongForm">
          <label><span style="color: red;">PROMO</span> Are you currently in a contract with an Internet Service Provider?</label>
          <select class="form-control" name="buyout" id="buyout" formControlName="buyout">
              <option>Please Select</option>
              <option>Yes</option>
              <option>No</option>
          </select>
      </div>-->


    </ng-container>
</div>

<iframe class="d-none" [src]="floodLightURL | safe"></iframe>
 