/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

@font-face { 
    font-family: "ProximaNova-Bold"; 
    src: url('/assets/fonts/mark_simonson_-_proxima_nova_bold-webfont.woff2') format('woff2'),
        url('/assets/fonts/mark_simonson_-_proxima_nova_bold-webfont.woff') format('woff'),
        url('/assets/fonts/mark_simonson_-_proxima_nova_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face { 
    font-family: "ProximaNova-Regular"; 
    src: url('/assets/fonts/mark_simonson_-_proxima_nova_regular-webfont.woff2') format('woff2'),
        url('/assets/fonts/mark_simonson_-_proxima_nova_regular-webfont.woff') format('woff'),
        url('/assets/fonts/mark_simonson_-_proxima_nova_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$fontStyle1: 'ProximaNova-Bold';
$fontStyle3: 'ProximaNova-Regular';

$fontH1: 32px;
$fontH5: 17px;
$genericfontsize: 14px !important;

$fontNormal: normal;
$fontBold: bold;

$background: #F1F2F1;

$black: #000 !important;
$white: #fff !important;
$red: #D6101B !important;

/*========== Global ==========*/
body {
    font-family: $fontStyle3;
    margin:0px;
    font-size: $genericfontsize;
    background: #F1F2F1 !important;
    overflow-x: hidden;
}

header {
    background: $background;
}
footer p {
    font-size: 12px !important;
}

footer a {
    color: #D6101B !important;
} 
.border-spacer {
    border-color: $black;
    border-top:8px solid #000;
    border-radius: 5px;
}

label,
p {
    font-size:$genericfontsize;
}

a {
    color: #D6101B !important;
}

.modal-backdrop {
    z-index: 1020 !important;
}
input[type="text"],
input[type="tel"],
input[type="date"],
input[type="email"],
select {
    font-size: $genericfontsize;
    font-family: $fontStyle3;
}

.invalid-feedback {
    font-size: 13px !important;
    font-family: $fontStyle3;
}

.w-90 {
    max-width: 90%;
}

.freebies-0 .w-90 {
    max-width: 100%;
}

/*========== End of Global ==========*/

/*========== Home Page ==========*/
#homepage {
    background: $background;
}
.home-accordion {
    background: $background;
    h1 {
        font-size: $fontH1;
    }

    h5 {
        font-size: $fontH5; 
    } 
    .img-container {
        min-height: 240px;
    }
    .plan-accordion {

        background: $background;

        button {
            text-align: center;
            display: block;
            width: 100%;
        }

        h5 {
            margin-bottom: 0px;
        }
    }

    #planAccordion {

        text-align: center;
        background: $background;

        [data-toggle="collapse"] .fa:before {   
            content: "\f106";
            font-size: 26px;
        }
        
        [data-toggle="collapse"].collapsed .fa:before {
            content: "\f107";
            font-size: 26px;
        } 

        button {
            color:#fff;
        }

        #planIndicatorMesh {
            .select-button {
                color: #000;
                border: 2px solid #000; 
                background: none;
                border-radius: 10px;
            }
            .select-button:hover,
            .select-button:focus {
                background: #DB2026 !important;
                color: #fff !important;
                border-color: #DB2026 !important;
            }
            
        }   

        #meshPlans {
            .carousel-control-prev, 
            .carousel-control-next {
                opacity: 1;
            }
            .carousel-control-prev-icon, 
            .carousel-control-next-icon {
                height: 90px;
                width: 35%; 
                border-radius: 15px;
            }
            .carousel-control-prev-icon img:hover, 
            .carousel-control-next-icon img:hover,
            .carousel-control-prev-icon img:focus, 
            .carousel-control-next-icon img:focus  { 
                box-shadow: 0 0 11px rgba(33,33,33,.4);  
            }
            .carousel-control-prev-icon {
                background-image: unset;
                right:0;
            }
            .carousel-control-next-icon {
                background-image: unset;
                left:0;
            }
        }

        button:focus,
        button:hover { 
            text-decoration: none;
        }


        #meshPlansButton {
            background: $black;
        }
        
        #broadbandPlansButton {
            background: #CF202F;
        }

        .card {
            background: $background;
            z-index: 9999;
        }
        
        .card-header {
            background: $background;
            border-radius: 10px;
        }

        .plan-caption {
                
            h3 {
                font-size: 18px;
            }

            span {
                font-size: 14px;
            }
        }
       .more {
            background: grey;
            color: #fff;
            border-radius: 10px;
            font-size: 13px;
            cursor: pointer;
        }
        .more:hover {
            background: #DB2026 !important;
            color: #fff !important;
            border-color: #DB2026 !important;
        }

        .plan-action {
            
            button {
                border-radius: 14px;
                background: none;
                color: $black;
            }

        }

        .carousel-indicators li {
            width: auto;
            height: auto;
            text-indent: unset;
        }

        .carousel-control-prev-icon, .carousel-control-next-icon {
            position: absolute;
            top: -10px;
        }
        
        .carousel-inner {
            background-size: 100% 100%;
            background-repeat: no-repeat; 
        } 
        .carousel-item { 
            h2 {
                font-size:28px;
                font-family: $fontStyle3;
            }

            h3 {
                font-size:14px;
                font-family: $fontStyle3;
                font-weight: normal;
            }
        } 
        
        .carousel-nav-menu {
            position: relative;
            justify-content: right;
            overflow-x: scroll;
        }
        
        
        /**
        * The "shine" element
        */
        
        .carousel-nav:after {
            animation: shine 1.5s infinite linear alternate;
            content: "";
            position: absolute;
            top: -110%;
            left: -210%;
            width: 200%;
            height: 200%;
            opacity: 0;
            transform: rotate(30deg);
            
            background: rgba(255, 255, 255, 0.13);
            background: linear-gradient(
              to right, 
              rgba(255, 255, 255, 0.13) 0%,
              rgba(255, 255, 255, 0.13) 77%,
              rgba(255, 255, 255, 0.5) 92%,
              rgba(255, 255, 255, 0.0) 100%
            );
        }
        
        /* Hover state - trigger effect */
        
        
        /* Active state */
        
        .carousel-nav:active:after {
            opacity: 0;
        }
        
        @keyframes shine{
            to {
            opacity: 1;
            top: -10%;
            left: -20%;
            transition-property: left, right, opacity;
            transition-duration: 0.5s, 0.5s, 0.10s;
            transition-timing-function: ease;
            }
        }

        .carousel-nav:hover {
            background: #DB2026 !important;
            cursor: pointer;
        }
        .carousel-nav {
            
            background: #000;
            color: #fff;
            border-radius: 30px;
            position: relative;
            overflow: hidden; 
            display: inline-block;
            cursor: pointer;
            
            span {
                line-height: 30px;
            }

            .plan-speed {
                font-size: 25px;
                
                .plan-speed-number {
                    font-size: 30px;
                }
            }
            
            .plan-sub-title {
                font-size: 14px;
                line-height: 20px;
            }
    
            .plan-free {
                font-size: 10px;
                color:#000 !important;
                text-transform: uppercase;
                background: #F8CF48;
                border-radius: 10px;
                line-height: 14px;
                font-family: $fontStyle1;
                font-weight: bold;
            }

            .plan-price {
                font-size: 28px; 
                font-weight: bold;
            }

            .plan-terms {
                text-align: right;
                font-size: 14px;
                line-height: 10px !important;
            }

           
        } 

        .scrolling-wrapper {
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            ::-webkit-scrollbar {
                width: 0px; 
                background: transparent;
            }
          
            .list-inline-item {
              display: inline-block;
            }
        }
        .carousel-control-prev, .carousel-control-next {
            bottom: 33%;
            width: 25%;
            color: #000 !important;
            top:auto !important;
        }
    }
    span.up-to {
        font-size: 12px;
        line-height: 16px !important;
    }
    sub {
        font-size: 10px;
        bottom: 0px;
        position: relative;
    }
}
/*========== End of Homepage ==========*/

/*========== Short Form ==========*/
#short-form {
    
    // button {
    //     color: #D6101B;
    //     border: 1px solid #D6101B;
    //     border-radius: 15px;
    //     background: none;
    // }
    .validCode {
        color: #28a745;
        font-size: 12px;
    }
    .promoLink {
        cursor: pointer;
    }
    .promoButton:hover {
        background: #000 !important;
        border-color: #000 !important;
    }
    
    .promoButton {
        color: #fff !important;
        font-size: 12px !important; 
        cursor: pointer;
    }
 
    .form-control {
        border-color: $black;
    }
}
.sub-header {

    h1 {
        font-family: $fontStyle3;
        font-size: $fontH1;
    }
}

/*========== End of Short Form ==========*/


/*========== Plan details Page ==========*/
#plan-details {
    

    .boost-free-price sub {
        font-weight: normal;
        font-size: 12px !important;
    }
    .boost-free-price {
        font-size: 20px;
        font-weight: bold;
    }
    .step {
        font-size: 18px !important;
        color:$red;
    }
    
    .steps-title {
        font-size: 14px !important;
    }

    .step-subtitle {
        color: $red;
    }

    .slick-track {
        margin:0px;
    }

    .router-slide {
        background: #E5E2E2;
        border-radius: 20px;
        cursor: pointer;
    } 
    .router-price {
        color: #DB2026;
        font-weight: bold;
        font-size: 14px;
    }

    /* the slides */
    .slick-slide {
        margin: 0 10px;
    }
    /* the parent */
    .slick-list {
        margin: 0 -10px;
    }

    .router-free {
        font-size: 14px;
    }

    .slick-slider {
        cursor: pointer;
    }
    .slick-slide:focus {
        outline: none;
    }

    .vas-label {
        border: 1px solid $black;
        color: #fff;
        background: $black;
        padding: 5px 10px;
    }

    .boost-plan:focus {
        box-shadow: unset !important;
    }

    .boost-plan {
        background-color:#dc3545 !important;
        border:2px solid #dc3545 !important;
        color:#fff !important;
    }
    .btn-boost {
        background-color:#fff;
        border:2px solid #dc3545;
        color:#000;
    }
    .free-ov {
        padding: 7px;
        display: block;
        border: 1px solid #000;
    }

    select.vas-option {
        border: 1px solid $black;
        border-radius: 0;
        font-size: 14px;
        border: 0;
        border: 1px solid black;
        border-top: 4px solid black;
        background: #fff url("./assets/img/arrow-down.png") no-repeat;
        background-size: 20px;
        background-position: right 10px center;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    button.btn-next {
        color: #D6101B;
        border: 1px solid #D6101B;
        border-radius: 15px;
        background: none;
    }

    textarea {
        resize: none;
        font-size:14px;
        font-family: $fontStyle3;
        border-radius: 0px !important;
        border-color: #000 !important
    }      
}


.planModal {
    z-index: 9999999999;
    .modal-header,
    .modal-footer { 
        border:none !important;
    }
    .freebies-list.freebies-0 {
        font-weight: bold;
    }
    .modal-footer { 
        button {
            font-size:14px;
            position: relative;
            cursor: pointer;
        }
        button:hover {
            background: #DB2026 !important;
            cursor: pointer;
        }
    }
    
    .plan-title {
        font-size: 18px;
        font-weight: $fontBold;
    }

    .plan-speed {
        font-size: 25px;
        line-height: 18px;
    }

    .plan-price {
        font-size: 30px;
        font-weight: $fontBold;
    }

    .plan-term {
        display: inline-block;
        font-size: 10px;
        text-align: left;
    }
    .plan-special {
        background: #F9D049;
        font-size: 10px;
        border-radius: 10px;
    }

    .modal-content {
        width: 90%;
        margin:0 auto;
    }
    .freebies-0 .price-modal {
        display: none !important;
    }


    ul {
        list-style: none;
        font-size: 12px;

        b {
            color: $red;
        }
    }

    button {
        border: 2px solid #000;
        border-radius: 15px;
        font-size: 10px;
    }
    button:hover,
    button:focus {
        background: #DB2026 !important;
        color: #fff !important;
        border-color: #DB2026 !important;
    }
}
 
.active-router {
    border: 2px solid #DB2026;
}
.active-plan {
    border: 2px solid #DB2026;
}

.otherPlan .swiper-slide {
    width:40% !important;
}

.plan-routers .swiper-slide {
    width:40% !important;
}

#planSummary {
    
    background: #000;

    [data-toggle="collapse"] .fa:before {   
        content: "\f107";
        font-size: 24px;
    }
    
    [data-toggle="collapse"].collapsed .fa:before {
        content: "\f106";
        font-size: 24px;
    } 

    .card {
        border-radius: 0px;
        border:none; 
    } 
    .otherPlan {
        background: #000;
        color: #fff;

        .plan-slide {
            text-align: center;
            background: #DCDBDB;
            border-radius: 25px;
            color: #000;
            cursor: pointer;
        }

        .plan-price {
            font-size: 25px;
            font-weight: $fontBold;
            line-height: 30px;
        }

        .plan-speed {
            font-size: 16px; 
        }

        .plan-terms {
            font-size: 10px;
            font-weight: $fontBold;
        } 
        
    }

}
.selectedPlan {

    background: #D62027;

    .more {
        background: grey;
        color: #fff;
        border-radius: 10px;
        font-size: 13px;
        cursor: pointer;
    }
    .more:hover {
        background: #fff !important;
        color: #DB2026 !important;
        border-color: #DB2026 !important;
    }

    span {
        color: $white;
    }
    
    .current-plan {
        font-size: 16px;
        font-weight: $fontBold;
    } 

    .current-price {
        font-size: 25px;
        font-weight: $fontBold;
    }

    .current-term {
        display: inline-block;
        font-size: 10px;
    }

    .current-free {
        border-radius: 10px;
    }

}

.fullDetails {
    
    background: $black;

    button {
        border-radius: 0;
        font-size: 14px;
        color: $black;
        background: $white;
        border: 0; 
    }

    .btn-secondary.dropdown-toggle:focus,
    button:focus {
        box-shadow: unset !important;
    }

    .dropdown-menu {
        border:none;
        border-radius: 0px;
        background-clip:unset;
    }
    .dropdown-menu.show {
        left:5px !important;
    }

    ul {
        list-style: none;
        font-size: 14px;

        b {
            color: $red;
        }
    }
}
 
#seePlans {

    background: #000;
    border-radius: 0px;
    
    button {

        font-size: 15px;
        color: #fff;
        border:none;

    }

    .btn-link:hover,
    .btn-link:focus {
        text-decoration: none !important;
    } 
}

#btn-yes,
#btn-no {
    border-radius: 5px;
    font-size:14px;
    font-family: $fontStyle3;
}

/*========== End of Plan details Page ==========*/


/*========== Long Form ==========*/
#long-form {

    // button {
    //     color: #D6101B;
    //     border: 1px solid #D6101B;
    //     border-radius: 15px;
    //     background: none;
    // }

    a {
        color: #D6101B;
    }

    .form-control {
        border-color: $black;
    }
}
/*========== End of Long Form ==========*/

/*========== Preview Page ==========*/
#summary-page {

    // button {
    //     color: #D6101B;
    //     border: 1px solid #D6101B;
    //     border-radius: 15px;
    //     background: none;
    // }
    background: #fff;

    .plan-summary {
        background: #f1f2f2;
        border-radius:10px;
        h3 {
            font-size: 20px;
            font-weight: normal;
        }
    }

    .preview-bottom p,
    .preview-bottom label {
        line-height: 25px;
    }
    .product-item {
        padding: 5px 0px;
    }
    .product-item:last-item {
        padding-bottom: 15px;
    }
    
}
/*========== Preview Page ==========*/

/*========== payment Page ==========*/
iframe,
#z_hppm_iframe {
    border-radius: 10px;
}
#payment-page {
    margin-top:15px;
    
}
/*========== end of payment Page ==========*/

/*========== success Page ==========*/
#results {

    .callback-message {
        font-size: 18px;
        line-height: 24px;
    }
    .operatingHours {
        font-size: 15px !important;
    }
    
}
/*========== end of success Page ==========*/

/*========== Modal content ==========*/
.homeModal {
    
}
/*========== end of modal content ==========*/

/*========== Media Queries ==========*/
    @media only screen and (max-width: 320px) {
        .boost-image,
        .boost-price {
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
        .plan-routers .swiper-slide {
            width: 60% !important;
        }
        .my-float{
            font-size:18px; 
            padding-top:10px !important;
        }
        .button-float  {
            top:130px !important;
            right:10px !important;
            width: 40px !important;
            height: 40px !important;
        }
    }
    @media only screen and (min-width: 321px) {
        .vq-logo img {
            max-width: 100%;
        }
        .home-accordion #planAccordion .carousel-item {
            h3 {
                font-size: 13px !important;
            }
            .plan-title .w-75 {
                width: 100% !important;
            }
        }
    }

    @media only screen and (max-width: 380px) {
        .home-accordion #planAccordion #meshPlans .carousel-control-prev-icon, 
        .home-accordion #planAccordion #meshPlans .carousel-control-next-icon {
            width: 50%;
        }
        .otherPlan .swiper-slide {
            width: 50% !important;
        }
        .selectedPlan .current-price {
            font-size: 23px;
        }
    }

    /* Extra small devices (phones, 381 and up) */
    @media only screen and (min-width: 381px) {

        .selected-device {
            max-width: 100% !important;
        }

        .otherPlan .swiper-slide {
            width:40% !important;
        }
        
        .plan-routers .swiper-slide {
            width:40% !important;
        }
    } 
    

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media (max-width: 499px) {
        .carousel-control-prev, 
        .carousel-control-next { 
            width: 25% !important;
            bottom:34% !important;
            margin: 0 -20px;
        } 
        .boost-free-price {
            font-size: 14px;
            font-weight: bold;
        }
        .boost-free {
            font-size: 12px;
        }
    }
    @media only screen and (min-width: 500px) {
        .home-accordion #planAccordion .carousel-control-prev-icon,
        .home-accordion #planAccordion .carousel-control-next-icon {
            top: 20px !important;
        }
    } 

    /* Medium devices (landscape tablets, 767px and below) */
    @media only screen and (max-width: 767px) {


        .my-float{
            font-size:23px; 
            padding-top:13px;
        }
        .button-float  {
            top:100px;
            right:30px;
            width: 50px;
            height: 50px;
        }
           
    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {

        .my-float{
            font-size:25px; 
            padding-top:18px;
        }
        .button-float  {
            bottom:80px;
            right:30px;
            width: 60px;
            height: 60px;
        }
        .selectedPlan {
            .current-label {
                font-size: 18px;
            }
            .current-plan,
            .current-price {
                font-size:30px;
            }
            .current-term {
                font-size: 14px;
            }
        } 

        .otherPlan .swiper-slide {
            // width: 30% !important;
        }

        .plan-routers .swiper-slide {
            width: 30% !important;
        }

        #planSummary {
            .plan-free {
                font-size: 16px;
            }
            .plan-label {
                font-size: 14px;
            }
        }
        #seePlans {
            button {
                font-size: 20px;
            }
        }
        .vq-logo img {
            max-width: 80%;
        }
    }

     /* Large devices (laptops/desktops, 992px and up) */
     @media only screen and (max-width: 992px) {
        .max-plan .carousel-item,
        .gamer-plan .carousel-item {
           margin-right: 0px !important;
        }
        .home-accordion #planAccordion .carousel-item h3 {
            width: 100% !important;
        }
    } 
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .vq-logo img {
            max-width: 30%;
        }
    } 

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1024px) { 
        .vq-logo img {
            max-width: 100%;
        }
        
        .ookla-logo img {
            max-width: 15% !important;
        }
        .home-accordion #planAccordion #meshPlans .carousel-control-prev, 
        .home-accordion #planAccordion #meshPlans .carousel-control-next {
            display: none;
        }
        .carousel-item {
            display: inline-block !important;
            float: none !important;
            margin-right: 0 !important;
        }
        .home-accordion #planAccordion .carousel-item {
            h3 {
                font-size: 13px !important;
            }
            .plan-title .w-75 {
                width: 100% !important;
            }
        }
        .selected-device {
            max-width: 50% !important;
        }
        .plan-routers .swiper-slide {
            width: 20% !important;
        }
        .otherPlan .swiper-slide {
            width: 20% !important;
        }
    }
/*========== End of Media Queries ==========*/



.cube-flip { 
    transform: rotateX(90deg);
  }
  
.cube { 
    position: relative;
    cursor:pointer;
    width: 100%;
    height: 40px;
    margin: 0px 0px;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    transition: 0.4s all; 
}
.cube-yes {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4); 
}
.cube-no { 
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4); 
}
// .cubte:hover {
//     -webkit-animation: none;
// }
@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(214, 16, 27, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(214, 16, 27, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(214, 16, 27, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(214, 16, 27, 0.4);
      box-shadow: 0 0 0 0 rgba(214, 16, 27, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(214, 16, 27, 0);
        box-shadow: 0 0 0 10px rgba(214, 16, 27, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(214, 16, 27, 0);
        box-shadow: 0 0 0 0 rgba(214, 16, 27, 0);
    }
  }

  @-webkit-keyframes pulseno {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  @keyframes pulseno {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  
  .front{
  
    position: absolute;
    width: 100%;
    height: 100%; 
    color: #fff;
    padding-top: 10px;
    font-size: 12px;   
    -webkit-transform:  rotateX(-90deg) translate3d(0px,0px,20px);
    transform: rotateX(0deg);
    z-index: 0;
    border-radius: 50% / 17%; 
    text-align: center;
    text-indent: .1em;

  }

  .cube-yes .front {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4); 
    background: #000;  
    animation: pulseno 1s infinite;
  }
  
  .cube-no .front {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4); 
    background: #000;  
  }
  
  .bottom{
  
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;  
    color: #fff;
    font-size: 12px;  
    padding: 10px; 
    z-index: 0;
    -webkit-transform:  rotateX(-90deg) translate3d(0px,0px,20px);;
    transform: rotateX(-90deg) translate3d(0px,0px,20px);
    box-shadow: 0 0 0 000(214, 16, 27, 0.4); 
    border-radius: 50% / 17%; 
    text-align: center;
    text-indent: .1em;
  }

  .cube-yes .bottom {
    box-shadow: 0 0 0 rgba(214, 16, 27, 0.4); 
    background: linear-gradient(to bottom, #f68520 0%, #ce2031 100%);
  }
  
  .cube-no .bottom {
    box-shadow: 0 0 0 rgba(214, 16, 27, 0.4); 
    background: linear-gradient(to bottom, #f68520 0%, #ce2031 100%);
  }

  // Floating contact button

.button-float {
	position:fixed; 
	background-color:#D6101B;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1;
}

.my-float{ 
    color: #fff; 
}

.button-float:hover {
    cursor:pointer;
}
#contactForm form {
    margin: 0 auto;
    
    // positioning context
    div {
      position: relative;
        input[type="text"],
        input[type="email"],
        input[type="password"] {
        
            &:focus {
            
            // removing default focus style
            outline: 0;
            // adding new one
            background: white;
            
            & + label {
                opacity: 0;
            }
            }
            
            &:valid {
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: 20px 20px;
                & + label {
                    opacity: 0;
                }
            }
            
            &:invalid:not(:focus):not(:placeholder-shown) { 
                & + label {
                    opacity: 0;
                }
            }
            
            &:invalid:focus:not(:placeholder-shown) {
                & ~ .requirements {
                    width: 100%;
                    padding:5px 0px 20px 0px;
                    height: auto
                }
            }
            
        }
        
        .requirements { 
            color: #999;
            max-height: 0; 
            overflow: hidden;
            color: red;
            font-style: italic;
            display: block;
            font-size:12px;
        }
      
    }
}