<div class="container-fluid sub-header">
    <div class="container pt-3 pb-2">
        <div class="row">
            <div class="col-12">
                <h1>Billing Details</h1>
            </div>
        </div>
    </div>
</div>
<div id="payment-page" class="container">
    <div class="row">
        <div class="col-12">
            <p>Please fill in your card information below. You will be charged RM1 by the payment system for card testing - this will automatically be refunded back to you. You will only be charged for your first bill once your service is installed and activated, and the charging will be automated on a monthly basis once your bill has been generated. Upon clicking submit on this form, please allow up to 1 minute for information to be processed securely. DO NOT REFRESH THE PAGE.</p>
            <div class="row">
                <div class="col-12">
                    <form #payment_confirmation id="payment_confirmation" ngNoForm action="https://testsecureacceptance.cybersource.com/silent/pay" method="post">
                        <div class="form-group">
                            <label class="form-label required">Card Type</label>
                            <div class="form-element required">
                                <input type="text" name="card_type" value="001">
                            </div>
                            <div id="error-type" class="error-field"><span style="display: none;">Invalid Card Type</span></div>
                        </div>
                        <div class="form-group">
                            <label class="form-label required">Card Number</label>
                            <div class="form-element required">
                                <input type="text" name="card_number" value="4000000000000002">
                            </div>
                            <div id="error-cardnum" class="error-field"><span style="display: none;">Invalid Card Number</span></div>
                        </div>
                        <div class="form-group">
                            <label class="form-label required">Card CVN</label>
                            <div class="form-element required">
                                <input type="text" name="card_cvn" value="005">
                            </div>
                            <div id="error-cvn" class="error-field"><span style="display: none;">Invalid CVN</span></div>
                        </div>
                        <div class="form-group">
                            <label class="form-label required">Expiraton Date</label>
                            <div class="form-element required">
                                <input type="text" name="card_expiry_date" value="11-2020">
                            </div>
                            <div id="error-expdate" class="error-field"><span style="display: none;">Invalid Date</span></div>
                        </div>
                        <div class="form-element required" id="form-element-email">
                            &nbsp;= Required Field
                        </div>
                        <p>&nbsp;</p>
                        <div class="form-group">
                            <input type="submit" id="submit" value="Confirm " />
                        </div>

                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>





                    <!--<form id="payment_confirmation" ngNoForm action="https://secureacceptance.cybersource.com/silent/pay" method="post">

                        <div id="UnsignedDataSection" class="section">
                            <span>card_type:</span><input type="text" name="card_type" value="001"> V: 001, MC: 002<br>
                            <span>card_number:</span><input type="text" name="card_number" value="4000000000000002"> V: 4000000000000002, M: 5200000000000007<br>
                            <span>card_cvn:</span><input type="text" name="card_cvn" value="005"><br>
                            <span>card_expiry_date:</span><input type="text" name="card_expiry_date" value="11-2020"><br>
                        </div>
                        <input type="submit" id="submit" value="Confirm " />

                    </form>-->
